/*css for article form*/
body {
    font-family: 'Sarabun', sans-serif;
}

.head-img {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}

.top-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.top-credit {
    font-size: 13px;
    color: #A6A6A6;
    line-height: 2.0;
    margin-bottom: 0px;
}

.detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
}

.detail-img-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 7px;
    max-width: 100%;
}

.detail-text-bold {
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
}

.space {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.bot-shareButton {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#force-sameLine {
    white-space: nowrap;
}

    #force-sameLine > li {
        display: inline-block;
    }

/*Author Thumbnail*/
.author-img {
    display: block;
    border: 3px solid #E5AC51;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 35%;
}

.author-head-text {
    color: #E5AC51;
    font-family: 'Bangers', cursive;
    font-size: 20px;
}

.author-detail {
    margin-top: 25px;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
}

.author-box-text {
    text-align: left;
    max-width: 420px
}

.author-box-text-Xray {
    text-align: left;
    max-width: 400px
}

@media (max-width: 767px) {
    .author-box-text, .author-box-text-Xray {
        text-align: center;
        max-width: 767px
    }
}

.author-socail-icon {
    font-size:20px;
}

/*you also like*/
.also-head-text {
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    color: #E5AC51;
    margin-bottom: 2px;
}

.also-category {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: black;
    margin-bottom: 2px;
}

.also-credit {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: #BEB9B8;
    margin-bottom: 2px;
}

.also-detail {
    font-family: 'Sarabun', sans-serif;
    display: block;
    font-size: 15px;
    color: black;
}

.also-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Responsive Youtube*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.link-text {
    color: #ecba71;
    font-weight: bold;
}

    .link-text:hover {
        color: #7e8a8b;
        font-weight: bold;
        text-decoration: underline;
    }

.text-description {
    font-size: 14px;
    text-align: center;
    color: #7e8a8b;
}

/*social button box*/
.social-btn-box {
    display: block ;
    margin: 5px auto ;
    text-align:center;
    font-size: 50px;
    color: red;
}

