/*css for all layout pages*/

body {
    font-family: 'Sarabun', sans-serif;
}

.text-inSreachBox {
    font-family: 'Sarabun', sans-serif;
}

.nav-theme {
    background-color: #ECBA71;
    font-family: 'Bangers', cursive;
}

.text-nav {
    font-size: 35px;
    color: #ECBA71;
    margin-right: 10px;
}

    .dropdown:hover, .nav-item:hover, .text-nav:hover, .active2:hover, .dropdown-item:hover {
        color: #F2D7A6;
    }

.active2 {
    font-size: 35px;
    color: #F2D7A6;
    margin-right: 10px;
}

.border-top footer {
    background-color: #ECBA71;
    margin-bottom: 0px;
}

.text-footer {
    color: #ECBA71;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
}

.bg-maincolor {
    background-color: #ECBA71;
}

.text-maincolor {
    color: #ECBA71;
}

.text-seccolor {
    color: #239B56;
}

.modal-backdrop {
    z-index: -1;
}

.main-font {
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
}

.text-head-dark {
    color: #3D3D3D;
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
    font-size: 2rem;
}

.text-head-light {
    color: #ECBA71;
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
    font-size: 2rem;
}

.nav-icon {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 35px;
    color: #ECBA71;
}

.nav-button {
    margin-top: 9px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 25px;
    color: #F5F5F5;
}

.logo {
    width: 30%;
    padding-right: auto;
    display: block;
    max-width: 200px;
}

.nav-tog {
    color: white;
    background-color: #E5AC51;
    margin-left: auto;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

/*Footer*/
.footer-bg {
    background-color: #ECBA71;
    font-family: 'Sarabun', sans-serif;
}

.footer-copyright {
    font-size: 15px;
    text-align:left
}


.footer-head-text {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.footer-list-text {
    font-size: 15px;
    color: #F5F5F5;
}
    .footer-list-text:hover {
        color: #3D3D3D;
    }

.footer-icon {
    font-size: 19px;
    color: #3D3D3D;
    text-align: right;
}
    .footer-icon:hover {
        color: #F5F5F5;
    }

.footer-miraii {
    font-size: 20px;
    color: black;
}

/*อันเก่า*/
.border-top footer {
    background-color: #E5AC51;
}

.text-footer {
    color: white;
    font-size: 20px;
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
}

.footer-text-addressDetail {
    font-size:17px;

}

@media (max-width: 391px) {
    .footer-copyright, .footer-text-addressDetail {
        text-align: center;
        font-size: 15px;
    }

    .footer-icon {
        text-align: center;
    }

    .footer-text-concept {
        display: none;
        margin: 0px;
    }

    .footer-list-text {
        font-size: 15px;
        list-style: none;
        text-align: center;
    }

    .footer-head-text {
        font-size: 17px;
        text-align: center;
        margin-top:2rem;
    }

    footer ul {
        margin:0px;
        padding:0px;
    }

    footer br {
        display:none;
    }
}