/*about page's css*/

.img-head {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}

.icon {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 35px;
}

/*home page's css*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content-head-th {
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    position: absolute;
    bottom: 8px;
}

.content-head {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    color: white;
    bottom: 8px;
}

.img-head {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}

.img-big-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
}

.fix-index {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.podcast-center {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 35px;
}

.text-weekly {
    color: #E5AC51;
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 0px;
    font-size: 2rem;
}

.lastest-credit {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: #BEB9B8;
    margin-bottom: 0px;
}

.lastest-category {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
}