/*Style Sheet for all read pages*/

.img-head {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}

/*Search page's class*/
.result-text {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: #F5B041;
    text-align: center;
    text-decoration: underline;
}

/*Editor Selection Class*/
.sel-text {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: #E5AC51;
}

.sel-img {
    direction: block;
    width: 100%;
}

/*Content 3x3's Class*/
.filter-text {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: #ECBA71;
    margin-bottom: 2px;
}

.content-img {
    display: block;
    width: 100%
}

.content-name {
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
    color: #ECBA71;
    font-weight: bold;
    margin-bottom: 2px;
}
    .content-name:hover {
        color: #F2D7A6;
    }

.content-category {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
}

.content-credit {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    color: #717D7E;
    margin-bottom: 2px;
}

.content-detail {
    font-family: 'Sarabun', sans-serif;
    display: block;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .content-detail:hover {
        color: #F2D7A6;
    }
