@{
    ViewData["Title"] = "Review";
}

<html>

<!--custom CSS-->
    <style>
        body {
            font-family: 'Galada', cursive;
        }

        .review-name {
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
            font-size: 25px;
            color: #B03A2E;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }

        .bg-overimg {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.3);
            color: #f1f1f1;
            width: 100%;
            padding-top: 30px;
        }

        .text-overimg {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            color: #FBFCFC;
        }

        .credit-overimg {
            text-align: left;
            font-size: 15;
            color: #FBFCFC;
            padding-left: 30px;
        }
        
    </style>

    <body>
        <!--Head-->
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner my-5 pt-2">
                <div class="carousel-item active">
                    <img src="~/image/Blog/Review/Dr. romantic 00.jpg" alt="Norway" style="width:100%;">
                    <div class="bg-overimg">
                        <p class="text-overimg" >Review : Romantic Doctor Teacher Kim <br> (낭만닥터 김사부) </p>
                        <p class="credit-overimg">By : Miraii <br> 10 / 07 / 2020</p>
                    </div>
                </div><!--carousel-item-->
            </div><!--carousel-inner-->
        </div><!--carousel id-->

        <!--Detail-->
        <div class="container">
            <p class="review-name"> Romantic Doctor Teacher Kim (낭만닥터 김사부) </p><br>
            <p>
                    ซีรีส์แนวการแพทย์เป็นซีรีส์อีกประเภทหนึ่งที่ได้รับความนิยมในประเทศเกาหลีใต้
                จึงมีการสร้างซีรีส์ประเภทนี้มาแล้วหลายเรื่อง ในช่วงปลายปี 2016 ซีรีส์เรื่อง Romantic Doctor Teacher
                Kim
                ก็เป็นซีรีส์แนวการแพทย์อีกเรื่องหนึ่งที่ได้รับกระแสตอบรับที่ดีจากผู้ชมเป็นอย่างมาก
                ส่วนหนึ่งเป็นเพราะซีรีส์เรื่องนี้มีการนำเสนอเรื่องราวของแพทย์ในมุมมองที่ต่างจากซีรีส์เรื่องอื่น
            </p>
            <img src="~/image/Blog/Review/Dr. romantic 01.jpg" class="center my-4">

            <p>
                    Romantic Doctor Teacher Kim เป็นซีรีส์แนวการแพทย์ของเกาหลีที่ออกอากาศเมื่อปลายปี 2016 นำแสดงโดย
                นักแสดงมากฝีมืออย่าง ฮันซอกกยู รับบทเป็น อาจารย์คิมซาบู ยูยอนซอก รับบทเป็น คังดงจู ซอฮยอนจิน
                รับบทเป็น ยุนซอจอง และนักแสดงหน้าใหม่ ยังเซจง รับบทเป็น โทอินบอม
                บอกเล่าเรื่องราวเกี่ยวกับการทำงานของแพทย์ในโรงพยาบาลทลดัมที่ต้องเผชิญกับอาการของผู้ป่วยที่หลายรูปแบบ
                และปัญหาจากปัจจัยภายนอก
                พร้อมปมปัญหาของตัวละครแต่ละตัวที่ช่วยเสริมให้เรื่องราวเข้มข้นและน่าติดตามมากขึ้น
                ซีรีส์เรื่องนี้จะทำให้คุณได้รู้ว่า เบื้องหลังของอาชีพแพทย์ที่หลายคนใฝ่ฝัน
                แท้จริงแล้วพวกเขาต้องเผชิญปัญหาอะไรบ้าง
                คุณจะได้รู้สึกเหมือนได้ไปนั่งอยู่ในโรงพยาบาลทลดัมและร่วมรักษาคนไข้ไปกับพวกเขาจริง ๆ
            </p>
            <div class="row-xl">
                   <img src="~/image/Blog/Review/Dr. romantic 02.jpg" class="center"></a>
             </div>
           

                <p style="font-weight: bold;">
                    ตัวละคร
                </p>
                <p>
                    อาจารย์คิมซาบู (รับบทโดย ฮันซอกกยู) ชื่อเดิมของเขาคือหมอพูยงจู
                    ศัลยแพทย์มากฝีมือที่เคยทำงานในโรงพยาบาลกอแดซึ่งเป็นโรงพยาบาลขนาดใหญ่
                    แต่วันหนึ่งเขากลับถูกผู้บริหารของโรงพยาบาลหักหลังด้วยการใช้ชื่อของเขาไปผ่าตัดให้กับคนไข้
                    เมื่อเกิดความผิดพลาด ความผิดทั้งหมดจึงตกอยู่ที่เขา หมอพูยงจูจึงเปลี่ยนชื่อเป็น “คิมซาบู”
                    ละทิ้งทุกอย่างมาทำงานในโรงพยาบาลเล็ก ๆ ตลอดเวลาที่อาจารย์คิมทำงานอยู่ที่โรงพยาบาลทลดัม
                    เขาได้ใช้ความสามารถในการช่วยชีวิตคนไข้
                    เมื่อเขาได้รับข้อเสนอให้ผ่าตัดให้กับประธานผู้ก่อตั้งคาสิโนผู้มีผลประโยชน์ทางธุรกิจกับผู้บริหารโรงพยาบาลกอแด
                    ชีวิตการเป็นแพทย์ของอาจารย์คิมจึงถูกก่อกวนอีกครั้ง
                </p>
                <img src="~/image/Blog/Review/Dr. romantic 03.jpg" class="center my-4">
            </div><!--container-->

        <div class="container">
            <hr>
            <p>ติดตาม Miraii เพิ่มเติม ได้ที่</p>
            <br>
            <p>Facebook Fanpage : facebook.com/Miraii</p>
            <p>Twitter : twitter.com/Miraii</p>
            <p>Website : Miraii.com</p>
        </div>
    </body>

</html>
