@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<style>
    .admin-Error-text {
        font-weight: bold;
        font-size: 90px;
    }

    .admin-card {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        border-style: none;
    }

    .admin-logo {
        display: block;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }

    .admin-btn {
        color: white;
        font-family: 'Bangers', cursive;
        padding: auto;
        font-size: 30px;
    }
</style>

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container admin-card text-center">

        <h1 class="text-nav main-font admin-Error-text"> Oops!! Login Fail </h1>
        <br />
        <h1 class="text-nav main-font admin-Error-text"> <i class="fas fa-exclamation-triangle"></i> </h1>
        <br />
        <h1 class="text-nav main-font"> Please Check Your Username and Password </h1>
        <br />
        <br />
        <br />
        <br />

        <a href="https://localhost:44369/Admin">
            <input class="btn btn-warning admin-btn" id="Button1" type="submit" value="Back" />
        </a>
    </div>

</body>
