@{
    ViewData["Title"] = "About";
}



<html>

<style>
    body {
        font-family: 'Galada', cursive;
        background-color: #7B241C;
    }

    h2.text-headline {
        color: #B03A2E;
        font-size: 70px;
    }

    hr.boldline {
        border: 5px solid black;
        border-radius: 5px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .name-compny {
        font-weight: bold;
        font-size: 35px;
        color: #B03A2E;
    }

</style>

<body>
    <br><br><br>
    <div class="container bg-white my-5 p-5" style="border-radius:40px;">
        <h2 class="text-headline">About</h2>
        <hr class="boldline">
        <img src="https://www.asiapropertyawards.com/wp-content/uploads/2019/12/a-basket-full-of-apples-for-web-157-4.jpg" class="img-fluid center my-5" />
        <p class="name-compny">
            Miraii Cco.,ltd.
        </p>
        
        <p>
            ได้จดทะเบียนก่อตั้งบริษัทขึ้นเมื่อวันที่ 13 พฤษภาคม 2563 โดยกลุ่ม Programmer ที่มีประสบการณ์และความเชี่ยวชาญจากการทำงานในสาขาอาชีพที่หลากหลายและมีความรู้ความสามารถ ได้ร่วมกันจัดตั้งโรงงานเพื่อทำการผลิต content ที่ได้มาตรฐานถูกต้องตามหลักวิชาการและเป็นไปตามมาตรฐานสากล ด้วยทุนจดทะเบียนเริ่มแรกจำนวน 7 ล้านบาท และต่อมาบริษัทได้มีการเพิ่มทุนจดทะเบียนอย่างต่อเนื่องเป็น 150 ล้านบาท
        </p>
    </div>

</body>

</html>
