@{
    ViewData["Title"] = "Home Page";
}

<html>
<!--custom CSS-->
<style>
    body {
        font-family: 'Merienda One', cursive;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner mt-5 pt-2">

            <!--pic1-->
            <div class="carousel-item active" data-interval="2000">
                <img src="~/lib/all-pic/Index-pic/Godzilla.jpg" class="d-block w-100" alt="...">
            </div>

            <!--pic2-->
            <div class="carousel-item" data-interval="2000">
                <img src="~/lib/all-pic/Index-pic/Descendants Of The Sun.jpg" class="d-block w-100" alt="...">
            </div>

            <!--pic3-->
            <div class="carousel-item" data-interval="2000">
                <img src="~/lib/all-pic/Index-pic/bol4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>

        <!--control left-->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!--control right -->
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <hr>

    <!--Content 1-->
    <div class="container-sm my-5">
        <div class="row text-center ">
            <div class="col-xl-7 p-3">
                <img src="~/lib/all-pic/Index-pic/john wick.jpg" class="img-fluid">
                <br><br>
                <h2 style="font-weight:bold; font-size:20px; ">
                    <u>
                        John Wick 4 เลื่อนไปเดือนพฤษภาคม 2022 :<br>
                        เหตุวิกฤติ COVID-19 ทำให้ล่าช้าไปอีก 1 ปี
                    </u>
                </h2><br>
                <p style="text-align:left">
                    Lionsgate สตูดิโอผู้สร้างแฟรนไชส์ภาพยนตร์ John Wick ได้ประกาศว่า John Wick 4
                    ซึ่งยังคงนำแสดงโดย Keanu Reeves (คีอานู รีฟส์) จะเลื่อนกำหนดการฉายไปเป็นวันที่ 27 พฤษภมคม 2022
                    จากเดิมที่กำหนดไว้วันที่ 21 พฤษภาคม 2021
                </p>
            </div>
            <!--Most Popular (picture 4:3)-->
            <div class="col-sm-5">
                <hr>
                <div class="container">
                    <div class="row">
                        <p style="font-weight:bold; text-align:center; font-size:25px;"><u> MOST POPULAR </u></p>
                    </div>

                    <!--Popular 1-->
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <a href="https://localhost:44369/home/review">
                                <img src="~/lib/all-pic/Index-pic/Dr. romantic.jpg" align="center" class="img-fluid" width="125px" height="125px">
                            </a>
                        </div>
                        <div class="col-xl-8">
                            <h2 style="font-size:15px;">รีวิว DOCTOR ROMANTIC (2016)</h2>
                            <p style="text-align:left;">
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกันไปในการตัดสินใจ
                            </p>
                        </div>
                    </div>

                    <!--Popular 2-->
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <img src="~/lib/all-pic/Index-pic/Bohemian.jpg" align="center" class="img-fluid" width="125px" height="125px">
                        </div>
                        <div class="col-xl-8">
                            <h2 style="font-size:15px;">รีวิว DOCTOR ROMANTIC (2016)</h2>
                            <p style="text-align:left;">
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกัน
                            </p>
                        </div>
                    </div>

                    <!--Popular 3-->
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <img src="~/lib/all-pic/Index-pic/the beetle.jpg" align="center" class="img-fluid" width="125px" height="125px">
                        </div>
                        <div class="col-xl-8">
                            <h2 style="font-size:15px;">รีวิว DOCTOR ROMANTIC (2016)</h2>
                            <p style="text-align:left;">
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกัน
                            </p>
                        </div>
                    </div>

                    <!--Popular 4-->
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <img src="~/lib/all-pic/Index-pic/Descendants Of The Sun (news) 2.jpg" align="center" class="img-fluid"
                                 width="125px" height="125px">
                        </div>
                        <div class="col-xl-8">
                            <h2 style="font-size:15px;">รีวิว DOCTOR ROMANTIC (2016)</h2>
                            <p style="text-align:left;">
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกัน
                            </p>
                        </div>
                    </div>

                    <!--Popular 5-->
                    <div class="row text-left">
                        <div class="col-xl-4">
                            <img src="~/lib/all-pic/Index-pic/Dr. romantic.jpg" align="center" class="img-fluid" width="125px" height="125px">
                        </div>
                        <div class="col-xl-8">
                            <h2 style="font-size:15px;">รีวิว DOCTOR ROMANTIC (2016)</h2>
                            <p style="text-align:left;">
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกัน
                            </p>
                        </div>
                    </div>
                </div><!--container inside (Most Popular)-->
            </div><!--Most Popular-->
        </div><!--row (content1)-->
    </div><!--container-->
    <!--Content deck-->
    <div class="container-xl my-5">
        <img src="~/lib/all-pic/Index-pic/content deck.jpg" class="img-fluid" align="center">
        <img src="~/lib/all-pic/Index-pic/content deck.jpg" class="img-fluid" align="center">
    </div>

    <!--Pic & Podcast-->
    <div class="container my-5">
        <!--Pic-->
        <div class="row">
            <div class="col-xl pt-5">
                <img src="~/lib/all-pic/Index-pic/tom misch.jpg" class="img-fluid" align="center">
            </div>
            <!--Podcast-->
            <div class="col-xl">
                <img src="~/lib/all-pic/Index-pic/podcast.jpg" class="img-fluid" align="center">
            </div>
        </div><!--row-->
    </div><!--container-->
    <!--comment & FB Plugin-->
    <div class="container my-5">
        <!--comment-->
        <div class="row">
            <div class="col-xl">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                        <p style="font-weight:bold; font-size:25px;">Comment Box</p>
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Input your comment here" rows="10"></textarea>
                </div>
                <button type="button" class="btn btn-danger btn-lg btn-block">Sent Comment</button>
            </div>
            <!--FB Plugin-->
            <div class="col-xl">
                <img src="~/lib/all-pic/Index-pic/Facebook plugin.jpg" class="img-fluid" align="center">
            </div>
        </div><!--row-->
    </div><!--container-->
</body>

</html>