@{
    ViewData["Title"] = "Review";
}

<html>

<!--custom CSS-->
<style>
    body {
        font-family: 'Merienda One', cursive;
    }

    .review-headline {
        text-align: center;
        font-weight: bold;
    }

    .review-name {
        text-align: center;
        font-weight: bold;
    }

    .review-detail {
        text-align: center;
        font-weight: bold;
    }

    .review-detail-pic {
        align-content: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .td-post-template-3 .td-post-title {
        position: absolute;
        bottom: 0;
        padding: 0 30px 9px 30px;
        width: 80%;
        z-index: 1;
    }
</style>

<body>
    <!--Review-->
    <div class="container">
        <!--Review Headline-->
        <div class="row mt-5 pt-5 ">
            <h1> Review : DOCTOR ROMANTIC (2016) </h1>
        </div>
        <div class="row my-3 ">
            <img src="~/lib/all-pic/Index-pic/Dr. romantic.jpg" class="img-fluid">
        </div>
        <br>
        <!--Detail-->
        <div class="row">
            <div class="col">
                <p class="review-name"> <u>Romantic Doctor Teacher Kim (낭만닥터 김사부) </u></p>
                <p>
                    ซีรีส์แนวการแพทย์เป็นซีรีส์อีกประเภทหนึ่งที่ได้รับความนิยมในประเทศเกาหลีใต้
                    จึงมีการสร้างซีรีส์ประเภทนี้มาแล้วหลายเรื่อง ในช่วงปลายปี 2016 ซีรีส์เรื่อง Romantic Doctor Teacher
                    Kim
                    ก็เป็นซีรีส์แนวการแพทย์อีกเรื่องหนึ่งที่ได้รับกระแสตอบรับที่ดีจากผู้ชมเป็นอย่างมาก
                    ส่วนหนึ่งเป็นเพราะซีรีส์เรื่องนี้มีการนำเสนอเรื่องราวของแพทย์ในมุมมองที่ต่างจากซีรีส์เรื่องอื่น
                </p><br>
                <img src="~/lib/all-pic/Review/Dr. romantic 01.jpg" class="center"><br><br>

                <p>
                    Romantic Doctor Teacher Kim เป็นซีรีส์แนวการแพทย์ของเกาหลีที่ออกอากาศเมื่อปลายปี 2016 นำแสดงโดย
                    นักแสดงมากฝีมืออย่าง ฮันซอกกยู รับบทเป็น อาจารย์คิมซาบู ยูยอนซอก รับบทเป็น คังดงจู ซอฮยอนจิน
                    รับบทเป็น ยุนซอจอง และนักแสดงหน้าใหม่ ยังเซจง รับบทเป็น โทอินบอม
                    บอกเล่าเรื่องราวเกี่ยวกับการทำงานของแพทย์ในโรงพยาบาลทลดัมที่ต้องเผชิญกับอาการของผู้ป่วยที่หลายรูปแบบ
                    และปัญหาจากปัจจัยภายนอก
                    พร้อมปมปัญหาของตัวละครแต่ละตัวที่ช่วยเสริมให้เรื่องราวเข้มข้นและน่าติดตามมากขึ้น
                    ซีรีส์เรื่องนี้จะทำให้คุณได้รู้ว่า เบื้องหลังของอาชีพแพทย์ที่หลายคนใฝ่ฝัน
                    แท้จริงแล้วพวกเขาต้องเผชิญปัญหาอะไรบ้าง
                    คุณจะได้รู้สึกเหมือนได้ไปนั่งอยู่ในโรงพยาบาลทลดัมและร่วมรักษาคนไข้ไปกับพวกเขาจริง ๆ
                </p><br>
                <img src="~/lib/all-pic/Review/Dr. romantic 02.jpg" class="center"><br><br>

                <p style="font-weight: bold;">
                    ตัวละคร
                </p>
                <p>
                    อาจารย์คิมซาบู (รับบทโดย ฮันซอกกยู) ชื่อเดิมของเขาคือหมอพูยงจู
                    ศัลยแพทย์มากฝีมือที่เคยทำงานในโรงพยาบาลกอแดซึ่งเป็นโรงพยาบาลขนาดใหญ่
                    แต่วันหนึ่งเขากลับถูกผู้บริหารของโรงพยาบาลหักหลังด้วยการใช้ชื่อของเขาไปผ่าตัดให้กับคนไข้
                    เมื่อเกิดความผิดพลาด ความผิดทั้งหมดจึงตกอยู่ที่เขา หมอพูยงจูจึงเปลี่ยนชื่อเป็น “คิมซาบู”
                    ละทิ้งทุกอย่างมาทำงานในโรงพยาบาลเล็ก ๆ ตลอดเวลาที่อาจารย์คิมทำงานอยู่ที่โรงพยาบาลทลดัม
                    เขาได้ใช้ความสามารถในการช่วยชีวิตคนไข้
                    เมื่อเขาได้รับข้อเสนอให้ผ่าตัดให้กับประธานผู้ก่อตั้งคาสิโนผู้มีผลประโยชน์ทางธุรกิจกับผู้บริหารโรงพยาบาลกอแด
                    ชีวิตการเป็นแพทย์ของอาจารย์คิมจึงถูกก่อกวนอีกครั้ง
                </p><br>
                <img src="~/lib/all-pic/Review/Dr. romantic 03.jpg" class="center"><br>
            </div><!--row-->
        </div><!--container-->

        <hr><br>
        <p>ติดตาม Miraii เพิ่มเติม ได้ที่</p>
        <br>
        <p>Facebook Fanpage : facebook.com/Miraii</p>
        <p>Twitter : twitter.com/Miraii</p>
        <p>Website : Miraii.com</p>
</body>

</html>
