@{
    ViewData["Title"] = "Dr.Romactic";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

<html>
    <style>
        .review-name {
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
            font-size: 25px;
            color: #E5AC51;
        }

        .credit {
            font-size: 13px;
            margin-left: auto;
        }

        .review-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            margin-bottom: 25px;
            width: 70%;
        }

        .img-head {
            display: block;
            margin-top: 75px;
            margin-bottom: 20px;
            width: 100%;
        }

        .space {
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }

        .share-this-page {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        #force-sameLine
        {
            white-space: nowrap;
        }
            #force-sameLine > li {
                display: inline-block;
            }

        .author-tump {
            display: block;
            border: 3px solid #E5AC51;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
            margin-top: 25px;
            width: 50%;
        }

        .author-head {
            color: #E5AC51;
            font-family: 'Bangers', cursive;
            font-size: 20px;
        }

        .author-detail {
            margin-bottom: 25px;
            margin-top: 25px;
            font-family: 'Sarabun', sans-serif;
            font-size: 15px;
        }
    </style>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=718174878568237&autoLogAppEvents=1" nonce="Vmb03NqS"></script>

        <!--Head-->
        <img src="~/image/Read/Review/Dr.romantic/Dr. romantic 00.jpg" class="img-head">
        <div class="container space">
            <p class="review-name"> Romantic Doctor Teacher Kim (낭만닥터 김사부) </p>

            <!--Credit-->
            <ul id="force-sameLine" class="credit text-muted">
                <li> By : Miraii 10/07/2020 </li>

                <!--View Counter-->
                <li>  &nbsp; &nbsp; <i class="far fa-eye"></i>  &nbsp; </li>
                <li>
                    <a href='https://freehitcounters.org/'>FreeHitCounters.org</a>
                    <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=85aa416b3e56bc5f90dfa4411322e1cb407e3ba8'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/728821/t/3"></script>
                </li>
            </ul>

            <hr>
            <br>

            <!--Detail-->
            <p>
                ซีรีส์แนวการแพทย์เป็นซีรีส์อีกประเภทหนึ่งที่ได้รับความนิยมในประเทศเกาหลีใต้
                จึงมีการสร้างซีรีส์ประเภทนี้มาแล้วหลายเรื่อง ในช่วงปลายปี 2016 ซีรีส์เรื่อง Romantic Doctor Teacher
                Kim
                ก็เป็นซีรีส์แนวการแพทย์อีกเรื่องหนึ่งที่ได้รับกระแสตอบรับที่ดีจากผู้ชมเป็นอย่างมาก
                ส่วนหนึ่งเป็นเพราะซีรีส์เรื่องนี้มีการนำเสนอเรื่องราวของแพทย์ในมุมมองที่ต่างจากซีรีส์เรื่องอื่น
            </p>
            <img src="~/image/Read/Review/Dr.romantic/Dr. romantic 01.jpg" class="review-img">

            <p>
                Romantic Doctor Teacher Kim เป็นซีรีส์แนวการแพทย์ของเกาหลีที่ออกอากาศเมื่อปลายปี 2016 นำแสดงโดย
                นักแสดงมากฝีมืออย่าง ฮันซอกกยู รับบทเป็น อาจารย์คิมซาบู ยูยอนซอก รับบทเป็น คังดงจู ซอฮยอนจิน
                รับบทเป็น ยุนซอจอง และนักแสดงหน้าใหม่ ยังเซจง รับบทเป็น โทอินบอม
                บอกเล่าเรื่องราวเกี่ยวกับการทำงานของแพทย์ในโรงพยาบาลทลดัมที่ต้องเผชิญกับอาการของผู้ป่วยที่หลายรูปแบบ
                และปัญหาจากปัจจัยภายนอก
            </p>
            <p>
                พร้อมปมปัญหาของตัวละครแต่ละตัวที่ช่วยเสริมให้เรื่องราวเข้มข้นและน่าติดตามมากขึ้น
                ซีรีส์เรื่องนี้จะทำให้คุณได้รู้ว่า เบื้องหลังของอาชีพแพทย์ที่หลายคนใฝ่ฝัน
                แท้จริงแล้วพวกเขาต้องเผชิญปัญหาอะไรบ้าง
                คุณจะได้รู้สึกเหมือนได้ไปนั่งอยู่ในโรงพยาบาลทลดัมและร่วมรักษาคนไข้ไปกับพวกเขาจริง ๆ
            </p>
            <div class="row-xl">
                <img src="~/image/Read/Review/Dr.romantic/Dr. romantic 02.jpg" class="review-img"></a>
            </div>


            <p style="font-weight: bold;">
                ตัวละคร
            </p>
            <p>
                อาจารย์คิมซาบู (รับบทโดย ฮันซอกกยู) ชื่อเดิมของเขาคือหมอพูยงจู
                ศัลยแพทย์มากฝีมือที่เคยทำงานในโรงพยาบาลกอแดซึ่งเป็นโรงพยาบาลขนาดใหญ่
                แต่วันหนึ่งเขากลับถูกผู้บริหารของโรงพยาบาลหักหลังด้วยการใช้ชื่อของเขาไปผ่าตัดให้กับคนไข้
                เมื่อเกิดความผิดพลาด ความผิดทั้งหมดจึงตกอยู่ที่เขา
            </p>
            <p>
                หมอพูยงจูจึงเปลี่ยนชื่อเป็น “คิมซาบู”
                ละทิ้งทุกอย่างมาทำงานในโรงพยาบาลเล็ก ๆ ตลอดเวลาที่อาจารย์คิมทำงานอยู่ที่โรงพยาบาลทลดัม
                เขาได้ใช้ความสามารถในการช่วยชีวิตคนไข้
                เมื่อเขาได้รับข้อเสนอให้ผ่าตัดให้กับประธานผู้ก่อตั้งคาสิโนผู้มีผลประโยชน์ทางธุรกิจกับผู้บริหารโรงพยาบาลกอแด
                ชีวิตการเป็นแพทย์ของอาจารย์คิมจึงถูกก่อกวนอีกครั้ง
            </p>
            <img src="~/image/Read/Review/Dr.romantic/Dr. romantic 03.jpg" class="review-img">

        </div><!--container-->

        <div align="center">
            <div class="fb-share-button " data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button_count" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>
        </div><br /> <div class="share-this-page">
            <a target="_blank" data-layout="button_count" class="btn form-control btn-outline-primary" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share this page !</a>
        </div>

        <br />
        <br />

        <!--Author Info-->
        <div class="container bg-light" style="max-width: 750px">
            <div class="row">
                <div class="col-sm">
                    <img src="~/image/Index/Miraii LOGO.png" class="author-tump" />
                </div>
                <div class="col-sm author-detail">
                        <p class="author-head">autohur Info</p>
                        <p> <strong> Author </strong> : Miraii </p>
                        <p>
                            <strong> Style </strong> :
                            <a asp-controller="Blog" asp-action="Index"> Blog, </a>
                            <a asp-controller="Story" asp-action="Index"> Story, </a>
                            <a asp-controller="Review" asp-action="Index"> Review, </a>
                            <a asp-controller="Life" asp-action="Index"> Life </a>
                        </p>
                        <p>
                            <strong> Contact </strong> :
                            <a href="https://www.facebook.com/miraii.space/"> Facebook, </a>
                            <a href="https://www.instagram.com/miraii.space/"> Instragram </a>
                        </p>
                </div>
            </div>
        </div>

        <br />

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                        <div class="card-body">
                            <div class="fb-comments" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-width="480" data-numposts="3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                        <div class="card-body">
                            <a asp-area="" asp-controller="Review" asp-action="LoveGeneration">Love Generation </a>
                            <br />
                            <p class="card-text">Review</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div><hr />
                            <a asp-area="" asp-controller="Life" asp-action="The6996">IAMTHE6996 ?!</a>
                            <p class="card-text">Fiction</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--banner-->
        <div class="container">
            <hr />
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0 display-6">For Ads</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Design</strong>
                            <h3 class="mb-0 display-6">For Ads</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </body>

</html>
