@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";

}

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .cont-name {
        font-family: 'Sarabun', sans-serif;
        color: #E5AC51;
        font-size: 25px;
        font-weight: bold;
    }

    .cont-detail {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: black;
    }

        .cont-detail:hover {
            font-family: 'Sarabun', sans-serif;
            font-size: 15px;
            color: #F5B041;
            text-decoration: underline;
        }

    .cont-category {
        font-family: 'Bangers', cursive;
        font-size: 35px;
        color: #E5AC51;
    }

    .cont-img {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Read/Review/Review.png" class="img-head">


    <br />
    <br />

    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="row border rounded">
                        <div class="col-7">
                            <br />
                            <strong class="d-inline-block mb-2 text-primary">Top of the Week</strong>
                            <p class="content-name">Cat dog dog cat rat bird</p>
                            <p class="text-muted">2020-08-11</p>
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <button type="submit" class="btn btn-sm btn-outline-warning"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">Continue reading</a></button>
                        </div>
                        <div class="col-5" style="padding-right: 0px;">
                            <img src="~/image/Index/Top of thumbnail.jpg" class="card-img-top" text="Thumbnail" />
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <div class="col-lg-6">
                <div class="container">
                    <div class="row border rounded">
                        <div class="col-7">
                            <br />
                            <strong class="d-inline-block mb-2 text-success">Top of the Month </strong>
                            <p class="content-name">Cat dog dog cat rat bird</p>
                            <p class="text-muted">2020-08-11</p>
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <button type="submit" class="btn btn-sm btn-outline-warning"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">Continue reading</a></button>
                        </div>
                        <div class="col-5" style="padding-right: 0px;">
                            <img src="~/image/Index/Top of thumbnail.jpg" class="card-img-top" text="Thumbnail" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="container text-center">
        <hr />
        <p class="cont-category">Editor's Best Seleciton !</p>
        <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
            <img src="~/image/Read/Life/Life9.jpg" class="cont-img" />
        </a>
        <br />
    </div>
    <br />
    <br />



    <!--============ ทั่วไป ==============-->
    <div class="container text-center">
        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>

                <!-- Row 2 -->
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
                        <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </a>
                    </a>
                    <br />
                </div>
            </div><!--Row-->
        </div><!--container List-->
    </div><!--container Headline-->

    <br />
    <br />



    <br />
    <br />

    <!--============== banner ===============-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>