@{
    ViewData["Title"] = "Miraii - Project Power Netfilx";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

    <head>
        <link href="~/css/css_content.css" rel="stylesheet" />

        <style>
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }

                .embed-container iframe, .embed-container object, .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
        </style>
    </head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=718174878568237&autoLogAppEvents=1" nonce="Vmb03NqS"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Review/Project Power Netfilx/1200x480.jpg">
    <div class="container space">
        <p class="top-title"> จะเกิดอะไรขึ้นหากคนธรรมดาสามารถเป็นยอดมนุษย์ได้ด้วยยาเม็ดเดียว ? </p>

        <!--Credit-->
        <!--
        <ul id="force-sameLine" class="top-credit">
            <li> Author : ลุงโจนาธาน 2020-08-16 </li>

           View Counter
        <li>  &nbsp; &nbsp; <i class="far fa-eye"></i>  &nbsp; </li>
        <li>
            <a href='https://freehitcounters.org/'>FreeHitCounters.org</a>
            <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=85aa416b3e56bc5f90dfa4411322e1cb407e3ba8'></script>
            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/728821/t/3"></script>
        </li>
    </ul>-->
        <hr>
        <br>
    </div>


    <!--========================== Detail =======================================-->
    <div class="container space">

        <img class="detail-img" src="~/image/Read/Review/Project Power Netfilx/500x375.jpg">
        <p>
            จะเป็นอย่างไรหากคุณสามารถมีพลังพิเศษได้อย่างมนุษย์กลายพันธุ์ใน X-Men
            หรือจะเป็นยอดมนุษย์อย่าง Superman ในจักรวาล DC โดยคุณมีเวลาจำกัดเพียงแค่ 5 นาทีเท่านั้น ?!
        </p>
        <p>
            Project Power ที่เราขอยกมานำเสนอแก่ผู้อ่านทุกท่านในวันนี้ เป็นภาพยนตร์ที่อำนวยการสร้างโดย
            Netfilx มีกำหนดฉายในวันที่ 14 สิงหาคม เป็นภาพยนตร์แนว Crime Action & Sci-fi Thrillers
            ออกแนวซูปเปอร์ฮีโร่หน่อยๆ ที่มนุษย์ธรรมดาอย่างเราๆสามารถเป็นซูปเปอร์ฮีโร่และมีพลังพิเศษได้เพียงแค่กินยาเม็ดเดียว
        </p>

        <img class="detail-img" src="~/image/Read/Review/Project Power Netfilx/project power_1.jpg">

        <p>
            เนื้อเรื่อง Background จะเกิดขึ้นในเมืองนิวออร์ลีนส์ สหรัฐอเมริกา ที่จู่ๆก็มียาลึกลับที่ทำให้คนธรรมดาสามารถมีพลังเหนือมนุษย์ได้ภายในระยะเวลาจำกัด
            5 นาทีเกิดขึ้นมา ซึ่งนั่นทำให้เหตุอาชญากรรมในเมืองเพิ่มสูงขึ้นผิดปกติในทันที 
            เป็นเหตุให้ตำรวจนายหนึ่งที่เห็นความไม่ชอบมาพากลในเมืองต้องจับพลัดจับผลูร่วมมือกับเจ้าเด็กส่งยาและอดีตนายทหารที่เต็มไปด้วยความแค้นอะไรบางอย่างในใจ
            ร่วมกันตามหาต้นตอของกลุ่มวายร้ายที่ผลิตยาประหลาดที่ว่านี้นั่นเอง
            ทว่าพวกเขากลับได้พบความจริงบางอย่างว่าจริงๆแล้วนี่เป็นเพียงแค่การทดลองยากับมนุษย์เพื่อนำไปสู่การพัฒนาไปเป็นอาวุธสงครามที่สมบูรณ์แบบเสียอย่างนั้น ?!
        </p>

        <p>
            เนื้อเรื่องจะเป็นอย่างไรต้องไปติดตามชมกันนะครับ !
            Trailer          
        </p>

        <!--Youtube-->
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/xw1vQgVaYNQ' frameborder='0' allowfullscreen></iframe></div>
        <hr />
        <img class="detail-img" src="~/image/Read/Review/Project Power Netfilx/project power_2.jpg">

        <p>
            เรามาดูกันที่ทีมนักแสดงกันดีกว่า ต้องบอกเลยว่าค่อนข้างว้าวมาก เพราะนักแสดงนำในเรื่องอย่างตำรวจหนุ่มสุดเท่รับบทโดย
            Joseph Gordon Levitt ซึ่งเคยโลดแล่นในภาพยนตร์ Action สุดคลาสสิคอย่าง Batman : The Dark Khight Rise
            และ Inception ส่วนเด็กส่งยา สวมบทโดย Dominique Fishback จากภาพยนตร์เรื่อง The Hate U Give และ Night Come On
            และที่ไม่พูดถึงไม่ได้เลยคือนักแสดงนำดีกรีรางวัลออสการ์อย่าง Jamie Foxx รับบทเป็นอดีตทหารที่มีความแค้นและกำลังไล่ล่าวายร้ายที่ผลิตยาปลุกพลังพิเศษนี้ขึ้นมา
        </p>

        <img class="detail-img" src="~/image/Read/Review/Project Power Netfilx/project power_3.jpg">

        <p>
            ในส่วนของผู้กำกับ Project Power ก็ได้สองหนุ่มอเมริกันอย่าง Henry Joost และ Ariel Schulman ซึ่งเคยฝากผลงานกำกับเรื่อง 
            Paranormal Activity ทั้งภาค 3 และ 4 และได้ Mattson Tomlin มาเป็นผู้เขียนบทให้ ซึ่งตัว Mattson
            Tomlin เองก็กำลังมีผลงานเขียนบทในเรื่อง Batman 2021 ที่กำลังจะเกิดขึ้นเร็วๆนี้อีกด้วย เรียกว่าเป็นการแทคทีมที่น่าสนใจไม่น้อยทีเดียว
        </p>

        <p>
            ซึ่งก็ต้องย้ำอีกครั้งว่า Project Power นี้สามารถรับชมพร้อมกันทาง Netfilx เท่านั้นเด้อ
            <a href="https://www.netflix.com/th-en/title/80204465"> https://www.netflix.com/th-en/title/80204465 </a>
        </p>

        <p>
            ก่อนจะจากกันวันนี้ เราเองก็อยากรู้ว่าหากเพื่อนๆสามารถมีพลังเหนือมนุษย์ได้ เพื่อนๆอยากมีพลังเป็นอะไรกันนะ ? คอมเมนต์กันมาได้เลย 5555
        </p>

        <p>
            ฝากกดไลค์ กดแชร์ กดติดตาม เพจ Miraii เพื่อไม่ให้พลาดหลากหลายคอนเทนต์ดีๆและเป็นกำลังใจให้พวกเรานะครับผม
        </p>
    </div>

    <!--========================== Share Button =====================================-->
    <div align="center">
        <div class="fb-share-button " data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button_count" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div>
    </div><br /> <div class="bot-shareButton">
        <a target="_blank" data-layout="button_count" class="btn form-control btn-outline-primary" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share this page !</a>
    </div>

    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->
    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text" style="max-width:420px">
                <p class="author-head-text">autohur Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="" asp-action=""> Culture, </a>
                    <a asp-controller="" asp-action=""> Entertainment, </a>
                    <a asp-controller="" asp-action=""> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    " เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น "
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Plugin & May also Like-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">
                        <a asp-area="" asp-controller="Review" asp-action="LoveGeneration">Love Generation </a>
                        <br />
                        <p class="card-text">Review</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                            </div>
                            <small class="text-muted">29/03/2020</small>
                        </div><hr />
                        <a asp-area="" asp-controller="Life" asp-action="The6996">IAMTHE6996 ?!</a>
                        <p class="card-text">Fiction</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                            </div>
                            <small class="text-muted">29/03/2020</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
