@{
    ViewData["Title"] = "Rikuoh รองเท้า ความฝัน และมาราธอน ซีรี่ส์ญี่ปุ่นแนวธุรกิจที่ไม่ธรรมดา";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    ViewData["image"] = "https://miraii.space/image/Read/Review/Rikuoh/Rikuoh%20Cover%20500x261.jpg";
}

    <head>
        <link href="~/css/css_article.css" rel="stylesheet" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
        </script>

    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=718174878568237&autoLogAppEvents=1" nonce="Vmb03NqS"></script>

        <!--=========================== Head & Name ==================================-->
        <img class="head-img" src="~/image/Read/Review/Rikuoh/rikuoh-cover.jpg">
        <div class="container space">
            <p class="top-title"> Rikuoh รองเท้า ความฝัน และมาราธอน ซีรี่ส์ญี่ปุ่นแนวธุรกิจที่ไม่ธรรมดา </p>

            <!--Credit-->
            <div class="row">
                <div class="col text-left">
                    <br />
                    <p class="top-credit"> <i class="fas fa-pencil-alt"></i> Author : Alaska </p>
                    <p class="top-credit"> <i class="fas fa-user-edit"></i> Editor : Alaska </p>
                    <p class="top-credit"> <i class="far fa-calendar-alt"></i> Date : 2020-09-05 </p>
                </div>

                <div class="col text-right">
                    <ul id="force-sameLine" class="top-credit">
                        <li><i class="far fa-eye"></i> &nbsp; </li>
                        <li>
                            <a style="color:white; letter-spacing: -1px;" href='https://free-hit-counters.net/'>https://free-hit-counters.net/</a>
                            <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=fa3fbf5fe4dc99fe1613e47d9e14acde374c85a2'></script>
                            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/739070/t/3"></script>
                        </li>
                        <br />
                        <div class="fb-share-button" data-href="https://miraii.space/Review/Rikuoh" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FReview%2FRikuoh&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
                    </ul>
                </div><!--style="color:white; letter-spacing: -1px;"-->
                <br />
            </div>
            <hr>
            <br>
        </div>

        <!--========================== Detail =======================================-->
        <div class="container space">
            <p>
                &nbsp; &nbsp;ท่ามกลางกระแสซีรี่ย์ดราม่าเกาหลีเชิงธุรกิจอันโด่งดันบน Netflix อย่าง Itaewon Class ซีรี่ย์จากประเทศเพื่อนบ้านที่มีทักษะการเล่าเรื่องและการถ่ายทำระดับคุณภาพไม่แพ้กันอย่างญี่ปุ่น ก็มีการเอาความเป็นธุรกิจเข้ามาสอดแทรกในบทละคร นำมาย่อยสาระให้เสพได้ง่ายขึ้นและนำเสนอสู่ผู้ชมทุกเพศทุกวัยเช่นเดียวกัน
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/rikuoh-cover.jpg">

            <p>
                &nbsp; &nbsp;ซึ่งก็ต้องย้อนกลับไปในปี 2017 กับเรื่อง Rikuoh 「陸王」อีกหนึ่งซีรี่ย์ระดับ 5 ดาว จากสถานี TBS (ญี่ปุ่น) ดัดแปลงมาจากต้นฉบับนวนิยายโดย Jun Ikeido กำกับโดย Katsuo Fukuzawa ที่เคยคุมซีรี่ย์ระดับแนวหน้าของญี่ปุ่นมาแล้ว อาทิ MR.BRAIN, Hanzawa Naoki และ Downtown Rocket
            </p>
            <p>
                &nbsp; &nbsp;Rikuoh สร้างปรากฏการณ์ในวงการบันเทิงญี่ปุ่น ด้วยการกวาดรางวัลใหญ่ทั้ง Best Drama, Best Actor (Yakusho Koji) และ Best Director จากงาน The 95th Drama Academy Award for Fall 2017 ไปครองอย่างไร้ที่ติ มี Rating เฉลี่ยที่ 16% ครองอันดับสองละครที่มี Rating สูงที่สุดในปีนั้น และตอนอวสานของซีรี่ย์ชุดนี้มีเรตติ้งสูงถึง 20.5% อีกด้วย! ซึ่งถือว่าไม่ธรรมดาทีเดียว ด้วยพล็อตเรื่องแนวธุรกิจแปลกๆ ดูไม่ค่อยน่าสนุก พระเอกก็อายุอานามรุ่นลุง ทว่าซีรี่ย์เรื่องนี้กลับสามารถครองใจคนค่อนประเทศได้อย่างไร ? เรามาลองแกะส่วนประกอบของ Rikuoh นี้ไปพร้อมๆกันครับ
            </p>


            <p style="font-weight: bold;">
                Plot
            </p>
            <p>
                &nbsp; &nbsp;เนื้อเรื่องจะเล่าถึง “โคฮาเสะ” 「こはぜ屋」 กิจการถุงเท้าทาบิ (ถุงเท้าโบราณที่นิยมใส่กับรองเท้าเกี๊ยะตามงานเทศกาลหรืองานพิธีการ เป็นอีกหนึ่งเครื่องแต่งกายดั้งเดิมของชาวญี่ปุ่น) ที่เป็นทั้งโรงงานและบริษัทจัดจำหน่ายขนาดย่อมเยาว์ ด้วยพนักงานทั้งหมดเพียง 20 กว่าชีวิต อายุพนักงานโดยเฉลี่ยก็ปาเข้าไปที่ 40 ปี ความที่เป็นบริษัทเก่าแก่กว่า 100 ปี ทุกอย่างจำต้องมีการเปลี่ยนผ่านไปตามวันเวลาและวังวนธุรกิจของมัน จากที่เคยเป็นบริษัทถุงเท้าอันรุ่งเรือง รายได้หลักล้านเยน พนักงานหลักร้อยชีวิต ก็นำมาสู่ช่วงวิกฤติครั้งใหญ่ของบริษัท ในความรับผิดชอบของ “โคอิจิ มิยาซาว่า”  ประธานคนปัจจุบัน ผู้สืบทอดกิจการร้านโคฮาเสะ รุ่นที่ 4
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-01.jpg">
            <p>
                &nbsp; &nbsp;เมื่อกระแสความนิยมเปลี่ยน ลูกค้าประจำเริ่มลดกำลังซื้อ ยอดขายหด กำไรหาย และงบการเงินของบริษัทเริ่มไม่เป็นใจ ทำให้ร้านโคฮาเสะต้องทำทุกวิถีทางเพื่อกลับเข้าสู่วงจรธุรกิจให้ได้ หนึ่งในนั้นคือการทำเรื่องขอกู้ธนาคารเพื่อจุนเจือและต่อลมหายใจธุรกิจของตัวเอง ทว่าทางธนาคารนั้นกลับต้องปฏิเสธ เนื่องจากมองเห็นความเสี่ยงมากกว่าโอกาสจากสถานะการเงินปัจจุบันของบริษัท ธนาคารจึงให้โจทย์ที่ท้าทายธุรกิจเดิม อย่างการให้ร้านโคฮาเสะไปลองคิดค้น Product ใหม่ หรือแผน Business Model อื่น (?) เพื่อเป็นการสร้างรายได้อีกทางให้กับบริษัทในระหว่างที่กิจการถุงเท้าทาบิกำลังซบเซา
            </p>

            <p>
                &nbsp; &nbsp;และดูเหมือนโชคชะตาจะลิขิตเอาไว้อยู่แล้ว ประจวบเหมาะกับมีการแข่งขันวิ่งมาราธอนทัวนาเมนต์ใหญ่ประจำปี ที่ประธานมิยาซาว่าและลูกชายบังเอิญได้เข้าชมรายการดังกล่าว และได้พบกับ “โมงิ ฮิโรโตะ” นักวิ่งหนุ่มดาวรุ่ง ที่ได้รับบาดเจ็บระหว่างการแข่งขันพอดิบพอดี ทว่ายังดั้นด้นจะวิ่งต่อในสภาพล้มลุกคลุกคลาน นั่นเองทำให้ทางประธานมิยาซาว่าได้แรงบันดาลใจในความมุ่งมั่นพยายาม จึงอยากจะทำรองเท้าวิ่งโดยมีพื้นฐานจากการทำถุงเท้าทาบิ ที่มีความนิ่มสบาย สวมใส่ง่าย เบาบาง สามารถบรรเทาอาการบาดเจ็บและลดโอกาสในการเกิดอุบัติเหตุระหว่างวิ่งได้ ให้ความรู้สึกเสมือนกับการวิ่งเท้าเปล่ายังไงยังงั้น
            </p>

            <p>
                &nbsp; &nbsp;ไม่นาน Project รองเท้าวิ่ง สินค้าตัวใหม่ที่ว่านี้ก็ถือกำเนิดขึ้นในชื่อ Rikuoh (เจ้าแห่งผืนดิน) จากการต่อยอดและพัฒนาจากถุงเท้าทาบิธรรมดาๆนั่นเอง ท่ามกลางความเคลือบแคลงใจและความสงสัยของทีมงานในบริษัท ว่าจะเป็นไปได้หรือกับเป้าหมายที่ประธานมิยาซาว่าวางไว้ คือต้องการนำ Rikuoh ขึ้นเป็นรองเท้าวิ่งระดับโลกให้จงได้ ?!
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-02.jpg">
            <p>
                &nbsp; &nbsp;ฝันใหญ่ขนาดนี้ แน่นอนว่าไม่ใช่เรื่องง่ายแน่นอน เส้นทางของรองเท้า Rikuoh จึงเต็มไปด้วยความยากลำบาก พอๆกับชีวิตนักกีฬาของโมงิ ที่หลังจากอุบัติเหตุในการแข่งขันครั้งนั้น สปอนเซอร์รองเท้าและเครื่องกีฬาก็ถูกถอดออกฟ้าแลบ กลายเป็นนักกีฬาที่ถูกทิ้งเคว้งคว้างไปโดยปริยาย การต่อสู้ในวงการธุรกิจรองเท้าวิ่งและปัญหาภายในบริษัทที่รุมเร้า ทั้งเรื่องเงินทุน ความนิยม พาร์ทเนอร์ และการทรยศหักหลัง ร้านโคฮาเสะจำต้องเผชิญกับความท้าทายใหม่ๆเข้ามาไม่หยุดหย่อน รวมถึงเป็นการเริ่มต้นพัฒนารองเท้า Rikuoh อย่างจริงจังโดยเริ่มต้นจากศูนย์อีกด้วย อย่าว่าแต่จะเป็นรองเท้าวิ่งระดับโลกเลย แค่เอาตัวรอดในวิกฤติทางการเงินแบบนี้ให้ได้ในช่วงแรกๆ ทีมงานร้านโคฮาเสะก็ทำงานกันเลือดตาแทบกระเด็นแล้ว
            </p>

            <p>
                &nbsp; &nbsp;ต้องติดตามชมกันว่าประธานมิยาซาว่าและลูกทีมจะเอาตัวรอดได้อย่างไรในสถานการณ์อันน่าเป็นห่วงของบริษัทครั้งนี้ เมื่อชะตากรรมของบริษัทถูกแขวนอยู่บนเส้นด้าย ความหวังในตัว Rikuoh และการต่อสู้ระหว่างความฝันและความเป็นจริงจึงเริ่มต้นขึ้น ซึ่งตรงนี้นี่เองที่เราจะได้เห็น ความเป็นผู้นำ, การบริหารจัดการ, การโน้มน้าว. ความภาคภูมิใจ, ภาษาธุรกิจ, ความฝัน และความสามัคคีของคนในบริษัท อัดแน่นและสอดแทรกอยู่ในละคร Rikuoh 10 ตอนนี้เต็มๆ
            </p>

            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-03.jpg">
            <p>
                &nbsp; &nbsp;นอกเหนือจากพระเอกของเรา ประธาน โคอิจิ มิยาซาว่า ผู้สืบทอดโคฮาเสะสายกัดไม่ปล่อย ผู้เต็มเปี่ยมไปด้วย Passion และมีความเป็นผู้นำสูง นำแสดงโดย โคจิ ยาคุโช คุณลุงนักแสดงสายภาพยนตร์ที่มีผลงานชื่อก้องในอย่าง The Third Murder, The Last Ronin, 13 Assassins ยังมีตัวละครที่เพิ่มมิติให้กับซีรี่ย์ชุดนี้อย่าง ไดจิ มิยาซาว่า ลูกชายของประธานมิยาซาว่า ที่เพิ่งเรียนจบชั้นมหาวิทยาลัยและอยู่ในช่วงลังเลกับอนาคตการทำงานของตัวเอง นำแสดงโดย เคนโตะ ยามาซากิ  นักแสดงหนุ่มฝีมือดีอันดับต้นๆของประเทศญี่ปุ่น ที่ฝากผลงานเด่นมานับไม่ถ้วนทั้ง Good Doctor, Kiss That Kills, L-DK และ Your Lie In April
            </p>

            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-04.jpg">
            <p>
                &nbsp; &nbsp;อีกหนึ่งตัวละครหลักที่ขาดไม่ได้คือนักกีฬาโมงิ ฮิโรโตะ ผู้วิ่งเคียงบ่าเคียงไหล่และพัฒนาตัวเองไปพร้อมๆกับร้านโคฮาเสะมาโดยตลอด นำแสดงโดย ทาเคอุจิ เรียวมะ  อีกหนึ่งดาราขวัญใจวัยรุ่นแห่งยุค ในคราวนี้จะได้เห็นเรียวมะในลุคหนุ่มนักกีฬาสุดเท่ห์ โชว์พลังขาให้สาวๆได้ฝันหวานกันอย่างเต็มอิ่มทีเดียว
            </p>

            <img src="~/image/Read/Review/Rikuoh/Rikuoh-08.jpg" class="review-img">
            <p>
                &nbsp; &nbsp;ซีรี่ย์ยังได้นักแสดงชื่อคุ้นหู ที่เชื่อว่าผู้ชมต้องเคยได้ยินชื่อหรือเคยเห็นผลงานผ่านตากันมาบ้างอย่าง Akira Terao Ayako Yoshitani, Sawako Agawa, Kotaro Shiga และ Mone Kamishiraishi
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-06.jpg">
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-05.jpg">
            <p>
                &nbsp; &nbsp;ทั้งนี้ยังมีผู้เชี่ยวชาญด้านรองเท้าวิ่ง,ทีมงานในบริษัท, นักประดิษฐ์ชิ้นส่วนรองเท้า, นายธนาคารที่เปี่ยมไปด้วยความตั้งใจ, ครอบครัวที่น่ารักของประธานมิยาซาว่า, เจ้าของร้านรองเท้าที่พร้อมให้คำแนะนำ, Atlantis บริษัทรองเท้าวิ่งคู่แข่งคนสำคัญ, เหล่า Partnership ทางธุรกิจ และทัพนักวิ่งมาราธอนที่มีทั้งคนที่น่าเอาใจช่วยและน่าหมันไส้ผสมปนเปกันไป ทั้งหมดทั้งมวลนี้ก็คือองค์ประกอบสำคัญที่คอยปลุกปั้นให้ซีรีย์ชุด Rikuoh สมบูรณ์แบบมากขึ้น เต็มไปด้วยรสชาติที่หลากหลายและน่าติดตามยิ่งๆขึ้นไปอีกเท่าตัว
            </p>

            <p>
                &nbsp; &nbsp;สุดท้าย ถ้าหากไม่พูดถึงก็คงไม่ได้ สำหรับเพลงประกอบที่ใส่เข้ามาแต่ละทีเรียกได้ว่าลงตัว ขนลุกและเรียกน้ำตาทุกซีน อย่าง เพลง Jupiter ขับร้องโดย Girl Group สาวเสียงดี Little Glee Monster  https://www.youtube.com/watch?v=T7EH0AAQI_c
            </p>
            <p class="text-center">
                <iframe width="260" height="215" src="https://www.youtube.com/embed/T7EH0AAQI_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </p>

            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-09.jpg">
            <p>
                &nbsp; &nbsp; บทสรุปเรื่องราวของร้านโคฮาเสะก็เปรียบเสมือนสูตรสำเร็จตามฉบับซีรี่ย์ดราม่าญี่ปุ่นทั่วๆไป อาจจะคาดเดาไม่ยากนัก แต่สิ่งต่างๆที่เราได้รับชมระหว่างการเดินทางของร้านโคฮาเสะต่างหากที่เป็นส่วนสำคัญ ที่มีทั้งความสุข สนุก เศร้าและสามารถมอบคุณค่ากับผู้ชมในหลายแง่มุม มั่นใจว่าเมื่อดูจบครบสิบตอนแล้วจะได้รับสาระ ความบันเทิงและแรงบันดาลใจดีๆ จากรองเท้า Rikuoh ไม่มากก็น้อยทีเดียว ซึ่งอาจใช้เป็นกรณีศึกษาได้สำหรับคนที่สนใจเป็นผู้ประกอบการ SME หรือเริ่มต้นทำธุรกิจ Startup ซีรี่ย์เรื่องนี้นอกจากจะได้รับรางวัลการันตีคุณภาพมาหลายสำนักแล้ว ยังมีบางมหาวิทยาลัยในไทย ที่ใช้ Rikuoh เรื่องเรื่องนี้เป็นสื่อการเรียนการสอนในวิชา Business หรือ Management อีกด้วยเช่นกัน
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-10.jpg">
            <p>
                &nbsp; &nbsp;หากเปรียบเทียบตัวความเข้มข้นของเรื่องนี้กับละครฝรั่งหรือเกาหลี  Rikuoh อาจจะยังสู้ไม่ได้เต็มร้อยนัก เนื้อหาไม่ได้เน้นที่ความเข้มข้นมาก ไม่ได้มีเนื้อเรื่องสลับซับซ้อน พอมีให้ลุ้นบ้างแต่ก็ไม่ได้หวือหวา ทว่าเรื่องการถ่ายทำ แสงสี Production เพลงประกอบ บทความสัมพันธ์ของตัวละคร และคุณภาพของนักแสดงแต่ละคน ต้องบอกว่าเกินมาตรฐานซีรี่ย์จากประเทศญี่ปุ่นจริงๆ ถ้าประเทศไทยเรานำละครเหล่านี้เข้ามาฉายมากขึ้นก็คงจะดีไม่ใช่น้อย เพื่อเพิ่มความหลากหลายจากละครแนวตบตีและดราม่าซ้ำซากจำเจ เปิดโลกทัศน์ให้กับผู้ชมมากขึ้น และเป็นการศึกษาวิถีชีวิตและวัฒนธรรมของประเทศเพื่อนบ้าน เพื่อนำกลับมาพัฒนาอุตสาหกรรมวงการบันเทิงและธุรกิจบ้านเราได้อีกด้วย
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-11.jpg">
            <p>
                &nbsp; &nbsp;มั่นใจว่าเมื่อคุณดู Rikuoh เรื่องนี้จบแล้ว จะอมยิ้มทั้งน้ำตา อิ่มเอมใจ คุณจะรู้สึกมีแรงมีไฟอยากลุกขึ้นไปทำงาน อยากออกไปวิ่ง ออกไปสานฝัน ทำในสิ่งที่ตัวเองเชื่อ และจะต้องคิดถึงผู้คนที่ร้านโคฮาเสะแห่งนี้อย่างแน่นอน เส้นทางทั้งสองสายของนักกีฬาโมงิและร้านโคฮาเสะจะมาบรรจบกันได้หรือไม่ และปมความสัมพันธ์ทางครอบครัวและธุรกิจอื่นๆที่เกิดขึ้นระหว่างทางจะลงเอยอย่างไร ก็อยากให้ลองไปรับชมด้วยตัวเองกันครับ ติดตามซับไทยได้ที่บ้าน Fansub daisukijframaplus ได้เลย https://daisukijdramaplus.com/dramas/rikuoh/ และสามารถดูข้อมูลเพิ่มเติมได้ที่เว็ปไซต์หลักของ Rikuoh ได้ที่ http://www.tbs.co.jp/rikuou_tbs/news/

            </p>

            <p>
                Trailer
            </p>
            <img class="detail-img" src="~/image/Read/Review/Rikuoh/Rikuoh-12.jpg">

        </div>


        <!--========================== Share Button =====================================-->
        <br />
        <div align="center">
            <div class="fb-share-button" data-href="https://miraii.space/Review/Rikuoh" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FReview%2FRikuoh&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
        </div>
        <br />
        <br />

        <!--============================ Author's Thumbnail ===================================-->

        <div class="container bg-light">
            <div class="row">
                <div class="col-md" style="max-width:580px">
                    <img class="author-img" src="~/image/Read/Author_img/Pond's profile.jpg">
                </div>
                <div class="col-md author-detail author-box-text">
                    <p class="author-head-text">Author Info</p>
                    <p> <strong> Author </strong> : Alaska </p>
                    <p>
                        <strong> Style </strong> :
                        <a asp-controller="Blog" asp-action="Index"> Blog, </a>
                        <a asp-controller="Review" asp-action="Index"> Review, </a>
                        <a asp-controller="Life" asp-action="Index"> Life </a>
                    </p>
                    <p>
                        <strong> Contact </strong> : panitarnjong@gmail.com
                    </p>
                    <p>
                        "  Hello World ! "
                    </p>
                </div>
            </div>
        </div>

        <br />

        <!--========================== Facebook Comment Plugin ======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                        <div class="card-body">
                            <div class="fb-comments" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-width="480" data-numposts="3"></div>
                        </div>
                    </div>
                </div>

                <!--========================== You May Also Like ? ======================-->
               
        <!--================ Banner =======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="card-text mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
