@{
    ViewData["Title"] = "Miraii - WW84-BlackWidow-Mulan";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

<head>
    <link href="~/css/css_content.css" rel="stylesheet" />
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=718174878568237&autoLogAppEvents=1" nonce="Vmb03NqS"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Review/Mulan/1200x480.jpg">
    <div class="container space">
        <p class="top-title"> Wonder Woman 1984, Black Widow และ Mulan กับสัญญาณเตือนการกลับมาของอุตสาหกรรมหนัง </p>

        <!--Credit-->
        <!--
            <ul id="force-sameLine" class="top-credit">
                <li> Author : Test 10/07/2020 </li>

               View Counter
            <li>  &nbsp; &nbsp; <i class="far fa-eye"></i>  &nbsp; </li>
            <li>
                <a href='https://freehitcounters.org/'>FreeHitCounters.org</a>
                <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=85aa416b3e56bc5f90dfa4411322e1cb407e3ba8'></script>
                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/728821/t/3"></script>
            </li>
        </ul>-->
        <hr>
        <br>
    </div>


    <!--========================== Detail =======================================-->
    <div class="container space">

        <img class="detail-img" src="~/image/Read/Review/Mulan/500x375.jpg">
        <p>
            หากพูดถึงหนังทำรายได้ที่มีการเอาตัวละครเพศหญิงมาเป็นตัวเอกของเรื่องเราก็มักจะนึกถึง Wonder Woman, Harley Quinn,
            Captain Mavel หรือ สวยพิฆาต Lucy ปีนี้เราจึงอยากแนะนำ 3 เรื่องให้เพื่อนๆได้ตัดสินใจเลือกดูกันอย่าง Wonder Woman 1984,
            Black Widow และ Mulan ที่กำลังจะมีการนำมาฉายในโรงเร็วๆนี้ ขณะที่ยังมีการระบาดของเชื้อไวรัส COVID19 สตูดิโอหลายๆ
            ค่ายเองก็เลือกที่จะเลื่อนการฉายหนังของตัวเองออกไป แต่ดูเหมือนว่าบริษัทยักษ์ใหญ่อย่าง Warner Bros และ Walt Disney
            เลือกที่จะเอาหนังที่มีทุนสูงและทำเงินเหล่านี้มาฉาย ถือว่าเป็นการตัดสินใจที่เสี่ยงมากหากคิดจะฉายในช่วงที่คนทั่วโลกเลือกที่จะดูหนังในบ้าน
            แทนการดูหนังในโรง หรือนี้จะเป็นสัญญาณบอกว่าอุตสาหกรรมหนังจะกลับมาคึกคักอีกครั้งกันนะ ?!
        </p>

        <p class="detail-text-bold"> Wonder Woman 1984 </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/ww84_1.jpg">

        <p>
            เรื่องแรกที่เราอยากแนะนำเพื่อนๆ คือหนังจากค่าย DC กำกับโดย Warner Bros กับเรื่อง Wonder Woman 1984
            ที่เป็นภาคต่อจากภาคแรกของ Wonder Woman ในปี 2017 โดยตัวหนังมีเนื้อเรื่องในช่วงปี 1984 ซึ่งอยู่ในช่วงท่ามกลางความกลัวสงครามเย็น
            ระหว่างสหรัฐอเมริกากับสหภาพโซเวียต ที่จะประทุกลายเป็นสงครามนิวเครียร์
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/ww84_2.jpg">

        <p>
            เหตุผลที่เป็นหนังที่น่าสนใจเพราะภาคแรกทำรายได้ถึง 821 ล้านเหรียญสหรัฐทั่วโลก และยังเป็นหนังที่กอบกู้เสียงวิจารณ์ให้กับฮีโร่ฝั่ง DC
            โดยยังคงมีเป็นผู้กำกับคนเดิมในภาคแรก Patty Jenkins มานั่งแท่นให้กำกับหนังในภาคนี้
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/ww84_3.jpg">

        <p>
            นักแสดงยังคงใช้นักแสดงชุดเดิมอยู่โดยมีนักแสดง Gal Gadot รับบทเป็น Wonder Woman / Diana Prince
            เจ้าหญิงแห่งเกาะอาเมซอน และตัวละครใหม่ที่คาดว่าจะเป็นตัวร้ายในหนังภาคนี้คือ Max Lord ทีรับบทโดยนักแสดง
            Pedro Pascal และ Hippolyta ซึ่งรับบทโดย Connie Nielsen
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/ww84_4.jpg">

        <p>
            และจุดสนใจอีกจุดหนึ่งคือการกลับมาของ Steve Trevor รับบทโดยนักแสดงเดิมคือ Chiris Pine
            พระเอกในภาคแรกที่เป็นที่รักของ Diana ซึ่งกลับมาปรากฏตัวอย่างปริศนาต่อหน้า Diana ในตัวอย่าง Wonder Woman 1984 ที่ปล่อยออกมา
        </p>

        <p class="detail-text-bold"> Black Widow </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Black widow_1.jpg">

        <p>
            เรื่องต่อมาจากค่าย Mavel Studio ซึ่งเป็นตัวละครหลักที่เป็นผู้หญิงใน MCU กับหนังแฟรนไชส์อย่าง
            Black Widow จากตัวอย่างคาดว่าเนื้อเรื่องน่าจะเป็นเหตการณ์ที่เกิดหลังจากการล่มสลายของทีม The Avenger
            ในตอน Captain America : Civil war และก่อนเหตุการณ์ในหนัง The Avenger : Infinity war
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Black widow_2.jpg">

        <p>
            หลังจาก Natasha Romanoff หรือ Black Widow ที่รับบทโดย Scarlett Johansson เพื่อนๆ
            น่าจะคุ้นหน้าคุ้นตาเธอทั้งแต่ Ironman 2 และจบด้วยการเสียสละตัวเองใน The Avengers : Endgame
            ในเรื่องเธอแยกตัวออกมา หลังจากถูกตามล่าจากรัฐบาล ต่อมามีตัวละครรับบทโดย Florence Pugh มาขอความช่วยเหลือนั้นคือ
            Yelena Belova ซึ่งเป็นเหมือนน้องสาวของเธอ ทั้งสองถูกตามล่าโดยกลุ่ม Red Room ซึ่งอดีตเคยเป็นโครงการที่ใช้สอนสายลับโซเวียตที่เคยสอน
            Black Widow มาก่อน ซึ่งกลุ่ม Red Room ได้ถูกล้างสมองโดย Taskmaster
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Black widow_3.jpg">

        <p>
            จุดสนใจของหนังเรื่อง Black Widow คือการที่ Scarlett Johansson เป็นหนึ่งในทีมการสร้างด้วย
            นอกจากนี้ยังได้ผู้กำกับหญิงมากความสามารถชาวออสเตรเลีย Cate Shortland ซึ่งเคยกำกับ Berlin Syndrome
            รักต้องขัง ซึ่งเป็นหนังสยองขวัญ มากำกับซึ่งรับรองได้ว่าเราจะได้รู้เบื้องหลังของ Black Widow อย่างละเอียดและตื่นเต้นแน่นอน
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Black widow_4.jpg">

        <p>
            จุดสนใจอีกจุดคือตัวร้ายอย่าง Taskmaster ที่ยังเป็นปริศนา รวมไปถึงจุดประสงค์ของตัวละครตัวนี้ ตัวละคร Taskmaster
            เป็นตัวร้ายที่มีความสามารถในการเลียบแบบทักษะการต่อสู้จากการมอง ซึ่งจากในตัวอย่างเราจะเห็นว่าตัวละครตัวนี้ได้เรียนรู้การใช้โล่ของ
            Captain America, การใช้ธนูของ Hawkeye, การใช้กรงเล็บของ Black panter และศิลปะกา่รต่อสู้ของ Black Widow
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Black widow_5.jpg">

        <p>
            นอกจากนี้ยังมีตัวละครที่น่าสนใจอย่าง The Red Guardians รับบทโดย David Hardour เคยฝากผลงานในซีรีย์อย่าง
            Stranger things และตัวละครอีกตัวอย่าง Melina Vostokoff รับบทโดย Rachel weisz ซึ่งเราน่าจะคุ้นหน้าคุ้นตาเธอในหนังเรื่อง
            The Mummy ทั้งภาค 1 และ 2
        </p>

        <p class="detail-text-bold"> Mulan </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Mulan_1.jpg">

        <p>
            และเรื่องสุดท้ายที่เราอยากจะแนะนำกับเรื่อง Mulan เจ้าหญิงจากค่าย Walt Disney
            ตัวละคร Mulan เป็นหนึ่งในตัวละครเจ้าหญิงตัวเดียวใน Walt Disney ที่เป็นสามัญชน
            ซึ่งเนื้อเรื่องในการ์ตูน เป็นเรื่องราวของสาวน้อยที่ชื่อว่ามู่หลาน ที่เข้าร่วมกองทัพแทนพ่อของเธอที่แก่ชรา
            เพราะความเป็นสตรีของเธอทำให้ Mulan ต้องปลอมตัวเป็นผู้ชายเพื่อที่จะปกปิดความลับของเธอ
            และด้วยความสามารถของเธอทำให้ชนะศึกต่างๆมาได้ตลอด ทำให้เป็นเกียรติแก่วงศ์ตระกูล และประเทศชาติ
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Mulan_2.jpg">

        <p>
            จุดสนใจของภาพยนตร์เรื่อง Mulan เรื่องนี้ คือ ตัวละคร Mulan ที่รับบทโดย Yifei Liu นักแสดงจีนที่มีชื่อเสียงซึ่งเคยมีผลงานล่าสุดอย่าง
            Hanson and the Beast ส่วนผู้กำกับคือ Niki Caro ซึ่งเคยกำกับหนังล่าสุดอย่าง The Zookeeper's Wife ฝ่าสงคราม กรงสมรภูมิ
            ซึ่งเป็นหนังดราม่าอิงจากเรื่องจริงนอกจากนี้เนื้อเรื่องในภาพยนตร์ได้มีการดัดแปลงให้มีความจริงจังมากขึ้น
            และรวมวัฒนธรรมหลายๆสมัยในจีนเข้าไว้ด้วยกันซึ่งเห็นได้จากคอสตูมการแต่งกายของตัวละคร และฉากบ้านเรือนต่างๆในเรื่อง
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Mulan_3.jpg">

        <p>
            ในเรื่องของตัวละครอย่างฝั่งตัวร้ายได้มีการดัดแปลงจากฮานที่เคยเป็นตัวละครตัวร้ายในฉบับการ์ตูน
            ในฉบับภาพยนตร์ได้เปลี่ยนแล้วเพิ่มตัวละครอย่าง Xianniang ที่รับบทโดย Li Gong
            จากในตัวอย่างหนังดูเมื่อเธอจะมีเวทย์มนต์ในการแปลงร่างเหมือนแม่มด และ Bori Khan ที่รับบทโดย Jason Scott Lee
            เป็นหัวหน้ากลุ่มรุกรานทางเหนือ
        </p>

        <img class="detail-img" src="~/image/Read/Review/Mulan/Mulan_4.jpg">

        <p>
            ตัวเอกของเรื่องอย่างนายพลลีชางในฉบับการ์ตูน ฉบับภาพยนตร์ได้ถูกดัดแปลงและเปลี่ยนเป็น Honghui รับบทโดย Yoson An
            ซึ่งเป็นพระเอกและเพื่อนในกองทัพของมู่หลาน และมีการเพิ่มนายพลทัง ซึ่งรับบทโดย Donnie Yen ซึ่งเคยมีผลงานดังอย่าง
            Ip Man ภาค 1 ถึง 4 ในบทอาจารย์ยิป !!!
        </p>

        <p>
            เราไม่รู้ว่าตัวเนื้อหาจะถูกดัดแปลง และเปลี่ยนทิศทางของหนังไปมากน้อยแค่ไหน ซึ่งเพื่อนๆ อาจจะต้องรอติดตามดูโรงหรือทาง Disney+
        </p>

        <p>
            หนังทั้ง 3 เรื่องที่เราแนะนำ อาจเป็นสัญญาณเตือนบอกเราได้ถึงทิศทางของอุตสาหกรรมหนังว่าจะกลับมาคึกคักอีกครั้งได้หรือไม่
            หากเป็นไปตามกำหนดการฉายของหนังทั้ง 3 เรื่อง Wonder Woman 1984 จะมีกำหนดฉายวันที่ 2 ต.ค. 2020, Black Widow
            วันที่ 28 ต.ค. 2020 และ Mulan ที่ล่าสุด Walt Disney ได้วางกำหนดฉายวันที่ 4 กันยายน 2020 ฉายพร้อมกับ Disney+
            สามารถติดตามข่าวสารความเคลื่อนไหวของหนังได้ทั้ง SF และ Major ในเครือทุกสาขานะครับเพื่อนๆ
        </p>

        <p>
            สุดท้ายนี้เราอยากรู้ว่าเพื่อนๆ อยากดูเรื่องไหนมากที่สุดกันใน 3 เรื่องนี้ เพื่อนๆ คอมเมนต์กันมาเยอะๆนะ
        </p>

        <p>
            ฝากกดไลค์ กดแชร์ กดติดตาม เพจ Miraii ด้วยนะ เพื่อไม่ให้พลาดหลากคอนเทนต์ดีๆและเป็นกำลังใจให้พวกเราครับ
        </p>
    </div>

    <!--========================== Share Button =====================================-->
    <div align="center">
        <div class="fb-share-button " data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button_count" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div>
    </div><br /> <div class="bot-shareButton">
        <a target="_blank" data-layout="button_count" class="btn form-control btn-outline-primary" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share this page !</a>
    </div>

    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->
    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text" style="max-width:420px">
                <p class="author-head-text">autohur Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="" asp-action=""> Culture, </a>
                    <a asp-controller="" asp-action=""> Entertainment, </a>
                    <a asp-controller="" asp-action=""> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    " เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น "
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Plugin & May also Like-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">
                        <a asp-area="" asp-controller="Review" asp-action="LoveGeneration">Love Generation </a>
                        <br />
                        <p class="card-text">Review</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                            </div>
                            <small class="text-muted">29/03/2020</small>
                        </div><hr />
                        <a asp-area="" asp-controller="Life" asp-action="The6996">IAMTHE6996 ?!</a>
                        <p class="card-text">Fiction</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                            </div>
                            <small class="text-muted">29/03/2020</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
