@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";

}

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .cont-name {
        font-family: 'Sarabun', sans-serif;
        color: #E5AC51;
        font-size: 25px;
        font-weight: bold;
    }

    .cont-detail {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: black;
    }

        .cont-detail:hover {
            font-family: 'Sarabun', sans-serif;
            font-size: 15px;
            color: #F5B041;
            text-decoration: underline;
        }

    .cont-category {
        font-family: 'Bangers', cursive;
        font-size: 35px;
        color: #E5AC51;
    }

    .cont-img {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Index/cover.png" class="img-head">

    <!--Top of The WEEK-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> Top of The WEEK </p>
        <hr />
        <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
            <img src="~/image/Read/Life/Life8.jpg" class="cont-img" />
        </a>
        <br />
    </div>
    <br />
    <br />

    <!--Top of The Mont-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> Top of The Mont </p>
        <hr />
        <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
            <img src="~/image/Read/Life/Life9.jpg" class="cont-img" />
        </a>
        <br />
    </div>
    <br />
    <br />

    <!--============ Short Story ==============-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> " Short Story " </p>
        <div class="container">
            <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                <img src="~/image/Read/Story/Life1.jpg" class="cont-img" />
                <br />
                <button type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </button>
            </a>
        </div>

        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life2.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life3.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life4.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>

                    <!-- ROW 2 -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life5.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life6.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life7.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
            </div><!--Row-->
        </div><!--container List-->
    </div><!--container Headline-->

    <br />
    <br />

    <!--============ Fiction ==============-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> " Fiction " </p>
        <div class="container">
            <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                <img src="~/image/Read/Story/Life1.jpg" class="cont-img" />
                <br />
                <button type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </button>
            </a>
        </div>

        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life2.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life3.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life4.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>

                    <!-- ROW 2 -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life5.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life6.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a asp-area="" asp-controller="Read" asp-action="DrRomactic">
                        <img src="~/image/Read/Story/Life7.jpg" class="cont-img" />
                        <h1 class="cont-name">content name 1</h1>
                        <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                        <br />
                    </a>
                </div>
            </div><!--Row-->
        </div><!--container List-->
    </div><!--container Headline-->

    <br />
    <br />

    <!--============== banner ===============-->
    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>

            <br />
            <br />

        </div>
    </div>
</body>


