@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";

}

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .cont-name {
        font-family: 'Sarabun', sans-serif;
        color: #E5AC51;
        font-size: 25px;
        font-weight: bold;
    }

    .cont-detail {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: black;
    }

        .cont-detail:hover {
            font-family: 'Sarabun', sans-serif;
            font-size: 15px;
            color: #F5B041;
            text-decoration: underline;
        }

    .cont-category {
        font-family: 'Bangers', cursive;
        font-size: 35px;
        color: #E5AC51;
    }

    .cont-img {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .content-credit {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: #BEB9B8;
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .content-category {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    .content-name {
        font-family: 'Sarabun', sans-serif;
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: bold;
        color: #E5AC51;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Read/Story/Story.png" class="img-head">

    <br />
    <br />

    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Top of the week</strong>
                        <h3 class="mb-0 display-6">XXX</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Top of the month</strong>
                        <h3 class="mb-0 display-6">YYY</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    </div>
                </div>
            </div>

            <br />
            <br />

        </div>
    </div>

    <div class="container text-center">
        <hr />
        <p class="cont-category">Editor's Best Seleciton !</p>
        <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
            <img src="~/image/Read/Life/Life9.jpg" class="cont-img" />
        </a>
    </div>

    <main role="main">
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </a>
                            <p class="content-category">Film</p>
                            <p class="content-credit">Author : Miraii</p>
                            <br />
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </a>
                            <p class="content-category">Film</p>
                            <p class="content-credit">Author : Miraii</p>
                            <br />
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </a>
                            <p class="content-category">Film</p>
                            <p class="content-credit">Author : Miraii</p>
                            <br />
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </p>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-left content-category"> <p> Film </p></div>
                                    <div class="col text-right content-credit"> <p> Author : Miraii </p></div>
                                </div>
                            </div>
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </p>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-left content-category"> <p> Film </p></div>
                                    <div class="col text-right content-credit"> <p> Author : Miraii </p></div>
                                </div>
                            </div>
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="~/image/Read/Blog/Short2.jpg" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <p class="content-name"> The people naja </p>
                            <div class="container">
                                <div class="row">
                                    <div class="col text-left content-category"> <p> Film </p></div>
                                    <div class="col text-right content-credit"> <p> Author : Miraii </p></div>
                                </div>
                            </div>
                            <p class="card-text">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="DrRomantic">View</a></button>
                                    <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">2020-08-11</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!--============== banner ===============-->

    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


