@{
    ViewData["Title"] = " ควรอ่านถ้าอยากได้งาน : 7 สิ่งที่เด็กจบใหม่ควรมี ?! ";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

    <head>
        <link href="~/css/css_article.css" rel="stylesheet" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
        </script>
    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

        <!--=========================== Head & Name ==================================-->
        <img class="head-img" src="~/image/Read/Blog/SevenSkill/01.png">
        <div class="container space">
            <p class="top-title"> ควรอ่านถ้าอยากได้งาน : 7 สิ่งที่เด็กจบใหม่ควรมี ?! </p>

            <!--Credit-->
            <div class="row">
                <div class="col text-left">
                    <br />
                    <p class="top-credit">Author &nbsp; : Alaska  </p>
                    <p class="top-credit">Editor &nbsp; : Alaska  </p>
                    <p class="top-credit">Date &nbsp;&nbsp;&nbsp;&nbsp;: 21/08/2020 </p>
                </div>

                <div class="col text-right">
                    <ul id="force-sameLine" class="top-credit">
                        <li><i class="far fa-eye"></i> &nbsp; </li>
                        <li>
                            <a style="color:white; letter-spacing: -1px;" href='https://www.symptoma.es/es/info/covid-19'>Coronavirus Test</a>
                            <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=0050b925a7c3928066c4c13a3e1cd3985c1b4032'></script>
                            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/736853/t/3"></script>
                        </li>
                        <br />
                        <div class="fb-share-button" data-href="https://miraii.space/Blog/sevenSkillsForFreshGraduate" data-layout="button_count" 
                             data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FsevenSkillsForFreshGraduate&amp;src=sdkpreparse" 
                             class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                    </ul>
                </div><!--style="color:white; letter-spacing: -1px;"-->
                <br />
            </div>
            <hr>
            <br>
        </div>

        <!--========================== Detail =======================================-->
        <div class="container space">

            <p>เชื่อว่าในช่วงเดือนสองเดือนนี้ น้องๆนิสิตนักศึกษาจบใหม่หรือ Fresh Graduate 2020 กำลังมองหางานที่ใช่บริษัทที่ชอบกันอยู่แน่ๆเลย ทว่าในวิกฤติโควิด 19 นี้ ทำให้หลายบริษัทเริ่มจำกัดการรับสมัครพนักงานเพิ่ม ไม่ว่าจะเป็นบริษัทสัญชาติไทยหรือต่างชาติ ดังที่เราสามารถเช็คได้จากเว็ปหางานทั่วๆไป ที่เห็นจะเปิดรับแต่ระดับ Senior หรือ Junior ที่มีประสบการณ์ 1-2 ปีเป็นส่วนใหญ่ แล้วเด็กจบใหม่ 0 Experience อย่างเราๆจะหาที่ยืนในสังคมนี้ได้ที่ไหนกัน  TT ! (อย่าว่าแต่เด็กจบใหม่เลย คนทั่วๆไปช่วงนี้ก็ถือว่าหางานยากพอสมควรเลยล่ะ)</p>

            <p>ซึ่งเราเองก็ต้องทำความเข้าใจในมุมขององค์กรเช่นกัน ในช่วงที่หลายบริษัทกำไรหด ลูกค้าหาย ก็เป็นเพราะผลกระทบจากเรื่องโควิด 19 นี่แหละ ทำให้ต้องลดต้นทุนและลดภาระค่าใช้จ่ายที่(ยัง)ไม่ค่อยจำเป็นไว้ก่อน ก็เอาเป็นว่าน่าเห็นใจทั้งภาคธุรกิจและน้องๆที่จบใหม่ทั้งสองฝ่ายเลยครับ</p>

            <p>ทีนี้ในช่วงที่งานประจำสุดแสนจะหายาก สมัครไปเป็นร้อย ไม่มีใครติดต่อกลับมาสักที มองในอีกมุมก็ถือเป็นโอกาสอันดีที่เราจะใช้เวลาว่างนี้ฝึกฝนเพิ่มทักษะในด้านต่างๆของตัวเองเหมือนกันนะ !</p>

            <p>ไม่ใช่แค่สำหรับน้องๆที่จบใหม่ เพื่อนๆพี่ๆที่กำลังมองหางานใหม่หรือความท้าทายในบริษัทอื่นๆ เราก็มองว่า Skill set และความรู้เหล่านี้ยังคงเป็นสิ่งสำคัญเช่นกัน ลองมาไล่ดู List ต่อจากนี้เพื่อเตรียมความพร้อมสำหรับตอนสัมภาษณ์งานหรือเริ่มต้นทำงานจริงกันเถอะ ดีกว่านั่งๆนอนๆเสียเวลาไปเปล่าประโยชน์ใช่มั้ยล่ะ </p>

            <p>เอาล่ะ ไปดูกันเลยว่าเด็กจบใหม่ไฟแรงอย่างเราๆเนี่ยควรเริ่มต้นเตรียมพร้อมอะไรบ้าง ?!</p>

            <p class="detail-text-bold"> 1. Language </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/02.jpg" />

            <p>
                “ภาษา” เป็นทักษะที่สำคัญอันดับต้นๆเลยก็ว่าได้ เราโดนปลูกฝังกันตั้งแต่ยังเด็กให้เรียนภาษาอังกฤษหรือภาษาที่สามเอาไว้เผื่อใช้ในอนาคต มาในวันนี้ เรียกได้ว่าเป็นทักษะที่สามารถเพิ่มความได้เปรียบในตัวเราอย่างเห็นได้ชัดจริงๆ  เพราะโลกของเราก้าวไกลกว่าเดิมมาก มีความ Globalization มากขึ้น งานมนุษย์ออฟฟิศแทบทุกบริษัทจำเป็นต้องใช้ภาษาที่สองหรือที่สามแน่นอน ซึ่งหากเรามีทักษะด้านภาษาที่ว่านี้ในระดับที่ดีมาก ก็จะยิ่งเพิ่มโอกาสให้ตัวเรามากขึ้นนั่นเอง ทั้งการทำงานหรือการสื่อสารทั่วไป แถมถ้าได้ทำงานในบริษัทต่างชาติ ยิ่งมีโอกาสต้องใช้สูงเลยล่ะ และค่อนข้างมั่นใจว่าฐานเงินเดือนจะสูงตามระดับการสื่อสารของเราด้วยเช่นกัน (แถมยังดูดีมีภาษี มีเครดิตกว่าการทำงานกับบริษัทที่ใช้แต่ภาษาไทยทั่วๆไปอีกด้วยนะ)
                หากเราสามารถสื่อสารภาษาอังกฤษได้คล่องๆบางบริษัทก็มีเปิดโอกาสให้ทุนพนักงานไปเรียนต่อหรือทำงานที่สาขาต่างประเทศด้วย ก็ต้องบอกว่าทักษะภาษานี่เองที่จะทำให้โปรไฟล์ของเราโดดเด่นและสะดุดตายิ่งขึ้นครับ
            </p>

            <p>การมีผลสอบรับรองก็เป็นสิ่งหนึ่งที่การันตีความสามมารถของเราและทำให้เรารู้ระดับความสามารถของตัวเองด้วย บางบริษัทก็ Require ผลสอบเหล่านี้ก่อนการสัมภาษณ์งานเหมือนกัน ยกตัวอย่างเช่น คะแนนสอบ TOEIC CUTEP หรือ IELTS</p>

            <p>ซึ่งจริงๆแล้วทุกวันนี้ภาษาอังกฤษอาจไม่ใช่ความสามารถพิเศษอีกต่อไป แต่เป็นสิ่งที่คนรุ่นใหม่ทุกคนควรจะชำนาญในระดับที่สื่อสารได้ พูดคุยอ่านเขียนรู้เรื่อง และนอกจากนี้ก็ยังควรเรียนรู้ภาษาที่สามเพิ่มเติมอีกด้วยเด้อ ฝึกๆไว้อาจมีโอกาสได้ใช้ในตอนสัมภาษณ์ด้วยครับ !</p>

            <p class="detail-text-bold"> 2. Microsoft Office </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/03.png" />

            <p> มีใครไม่รู้จักโปรแกรมตระกูล Office ของ Microsoft บ้าง ?! เชื่อว่าทุกคนต้องเคยใช้แน่นอนเพราะมันมีติดมากับระบบ Windows ทุกเครื่อง 555 ซึ่งหากใครใช้จนเทพทั้งชุดก็ต้องยกมือไหว้เลยทีเดียวเพราะทาง Microsoft เองก็ขยันพัฒนาและออก Product และ Feature ใหม่ๆมาโดยตลอด </p>

            <p>แต่ที่อยากให้เน้นและฝึกให้ชำนาญคือตัว Word สำหรับงานเอกสาร, Powerpoint สำหรับงาน Presentation และตัวที่สำคัญที่สุดก็คือ Excel สำหรับงานเก็บและวิเคราะห์ข้อมูล </p>

            <p>ไม่ว่าคุณจะเป็นมนุษย์ออฟฟิศสายไหน ทำงานอะไร ต้องได้แตะและได้ใช้งานเจ้าตัว Excel แน่นอน ปัจจุบันมีคอร์สสอนโปรแกรม Excel มากมาย สามารถเลือกลงเรียนได้ตามใจชอบได้เลย ต้องขอบอกเลยว่านี่ไม่ใช่โปรแกรมตารางเก็บข้อมูลธรรมดาๆ ไม่ได้เอาไว้บวกลบเลขเฉยๆและไม่ได้ง่ายอย่างที่คิดแน่นอน ! ตัว Excel ยังสามารถเก็บและวิเคราะห์ข้อมูลได้หลากหลาย ประยุกต์ได้หลายท่า ผ่านการใส่สูตรหรือ Formula ในตัวโปรแกรม ทั้งยังทำงานในเชิงสถิติได้อย่างยอดเยี่ยมอีกด้วย เรียกได้ว่าทำได้แทบทุกอย่างที่องค์กรอยากจะได้เลยล่ะ และเป็นโปรแกรมคำนวณข้อมูลชนิดหนึ่งที่ได้รับความนิยมสูงมาก ฝึกเอาไว้ตั้งแต่ตอนนี้ ได้ใช้จริงทุกระดับครับผม ซึ่งบางบริษัทก็ Require ทักษะ Advanced Excel ด้วยเหมือนกันนะ ส่วนตัว Power point หรือ Word ก็มีอัพเดท Version ออกมาเรื่อยๆเพื่อให้ผู้งานอย่างเราๆทำงานได้ง่ายขึ้นเช่นกันครับ สองตัวนี้ลองเล่นดูได้ ไม่ยาก เอาให้ชินมือเลย</p>

            <p>ทาง Microsoft หรือสถาบันต่างๆเองก็มีจัดอบรมและจัดสอบใบ Certification สำหรับโปรแกรมตระกูล Office ที่ว่านี้ด้วยนะ ลองไปสอบแล้วเอามาแปะบน Resume เราได้ครับ !</p>

            <p class="detail-text-bold"> 3. Communication skill  </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/04.jpg" />

            <p>หรือ Interpersonal skill หรือที่เราเรียกสั้นๆว่า Soft skill ทักษะการติดต่อระหว่างบุคคล ทักษะการสื่อสาร การพูด และการ Present ยิ่งถ้าเป็นด้านงานขาย งานการตลาด ยิ่งต้องขายเก่ง ต้องคุยเก่งและสื่อสารให้เข้าใจไม่ว่าจะใช้วิธีการใดก็ตาม ซึ่งพอขยับมาเป็นระดับ Manager ตัวเราเองก็ต้องคุมลูกน้องให้อยู่ด้วยทักษะการพูดอย่างมีชั้นเชิง การเจรจา การจ่ายงานหรือการประชุม </p>

            <p>จะเห็นได้ว่าการสื่อสารถือเป็นอีกหนึ่งทักษะที่สำคัญมากๆไม่ว่าคุณจะอยู่ในระดับไหน ไม่ว่าคุณจะเป็นคนขี้อาย ปากหนัก ปากแข็งขนาดไหน แต่เมื่อก้าวเข้าสู่โลกการทำงาน ในช่วงแรกมั่นใจว่าเราจะต้องพบเจอผู้คนใหม่ๆ ทั้งเพื่อนร่วมงานและลูกค้า ซึ่งบุคลิกภาพภายนอกกับการสื่อสาร ก็จะเป็นส่วนหนึ่งที่พวกพี่ๆหรือลูกค้าจะใช้ในการประเมินตัวเราในการทำงานนั่นเอง</p>

            <p>ย้ำอีกครั้ง ! ไม่ว่าคุณจะเป็นคนเก็บตัวหรือ Introvert ขนาดไหน การพูดฟังอ่านเขียนให้รู้เรื่อง จับประเด็นให้ถูก รู้กาละเทศะ รายงานสื่อสารได้ ถือเป็นสิ่งสำคัญมากๆ นี่แหละคือทักษะหนึ่งที่คนอื่นจะบอกตัวเราได้ว่า “ทำงานเป็น” “คุยได้” “น่าเชื่อถือ น่าไว้วางใจ” (แต่ก็ไม่ใช่แบบคุยเก่งเว่อร์ จ้อไม่หยุดนะ อันนั้นก็อาจเกินไป๊ 555) </p>

            <p class="detail-text-bold"> 4. Technical skill </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/05.png" />

            <p>เมื่อกี้เราพูดถึงตัว Soft Skill ไปแล้ว ลองมาดูกันที่ Hard skill, Core skill กันบ้าง หรือถ้าแปลอย่างง่ายๆก็คือความสามารถเฉพาะตัวที่โดดเด่น สกิลแข็งๆสดๆของตัวเอง หรือความชำนาญในอะไรบางอย่างนั่นเอง ไม่ว่าจะเป็นทักษะที่มาจากสิ่งที่เรียนในมหาวิทยาลัยหรือเป็นสิ่งที่ตัวเองชอบและสนใจ สำคัญคือต้องเป็นสิ่งที่คิดว่า “นี่แหละตัวฉัน” “นี่แหละที่ฉันเก่ง” และเป็นอะไรที่สามารถนำไปโชว์คนอื่นได้ครับ</p>

            <p> อาจจะเป็นทักษะทั่วไปธรรมดาๆก็ได้ ไม่ต้องแปลกใหม่ แต่เป็นสิ่งที่เราทำได้ดี คล่องมือก็พอครับ ซึ่งก็ต้องให้สอดคล้องกับงานที่เราสมัครด้วยนะ 555 ซึ่งเจ้าทักษะส่วนตัวที่ว่านี้ก็จะแตกต่างกันไปในแต่ละบุคคลเช่น ทักษะการเขียนโปรแกรม, การคิดและเขียน Content, ทักษะการวาดรูป ออกแบบ, ทักษะการวางแผน, การวิเคราะห์ข้อมูล, การจัดการ, บัญชี, ตัวเลข, ทักษะด้านภาษาต่างประเทศ หรือ ทักษะการพูดและการขาย </p>

            <p>เหล่านี้ก็จะเป็นสิ่งที่บ่งบอกตัวตนของเราว่าเราสามารถทำอะไรได้บ้าง ก็พยายามพูดและหาวิธีแสดงความสามารถตรงนี้ออกมา จะทำให้นายจ้างเห็นตัวตนของเราได้ชัดเจนยิ่งขึ้น หากใครยังไม่รู้ว่าตัวเองชอบอะไร เก่งอะไรที่สุด อยากจะไปสายไหน ทำอะไร เริ่มต้นคิดและค้นหาตัวตนตั้งแต่ตอนนี้ได้เลย ว่างๆแบบนี้ยังไม่สายเกินไปครับ</p>

            <p class="detail-text-bold"> 5. Analytical thinking skill </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/06.jpg" />

            <p>หรือ Critical Thinking, Design Thinking (ซึ่งจริงๆ Thinking ทั้งหลายนี้มันก็มีความต่างกันอยู่นะ แต่หลักๆคือจะเน้นที่การมีกระบวนการคิดอย่างเป็นระบบและมีความ Creative ในความคิดครับ) เป็นอีกหนึ่ง Skill ที่กำลังฮอตฮิทมากทีเดียว ปัจจุบันองค์กรกำลังมองหาลูกทีมที่มีแนวคิดดีๆแบบนี้อยู่เยอะเหมือนกัน เป็นทักษะที่บ่งบอกได้ถึงลักษณะการทำงานของแต่ละคนว่า มี Logic วิธีการคิดที่ดีหรือไม่ เป็นคนที่ไม่เดาหรือทำอะไรส่งเดชมั่วๆซั่วๆ มีการคิดก่อนทำ มีการวิเคราะห์ข้อมูลมาก่อน หลักแหลม มีจินตนาการ สร้างสรรค์ และในการ Present หรือ Tack actions ในแต่ละครั้งจะมี Data หรือ Proof รองรับเสมอ </p>

            <p>ก็อยากให้หลายๆคนได้ฝึกทักษะการคิดวิเคราะห์แยกแยะเอาไว้ อาจจะผ่านการเล่นเกมพวกวางแผนหรือแก้ปัญหาเชาว์ต่างๆอาจจะพอช่วยได้บ้าง ที่สำคัญต้องเป็นคนที่ช่างถาม ช่างคิดและช่างสงสัยเสมอๆ</p>

            <p>เชื่อว่าจะเป็นประโยชน์อย่างมาก โดยเฉพาะช่วงการสัมภาษณ์เพราะบางบริษัทอาจมีให้ทำ Case หรือ การ Interview ที่หนักพอสมควร ต้องใช้สมองและทักษะการแก้ปัญหาเฉพาะหน้าค่อนข้างเยอะ ซึ่งก็จะเป็นพื้นที่ในการแสดงทักษะ Analytical thinking ของเราให้กรรมการได้รับรู้ด้วยครับ </p>

            <p class="detail-text-bold"> 6. Business Logic </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/07.png" />

            <p>หรือความรู้ทางธุรกิจ นอกเหนือจาก Logic ทางด้านตรรกะและความคิดแล้ว กระบวนการคิดทางด้านธุรกิจก็เป็นสิ่งที่น่าสนใจเช่นเดียวกัน เช่นความรู้ทางด้านการบัญชี การเงิน หรือการตลาด ใครที่เคยเรียนหลักสูตรบริหารธุรกิจหรือการบัญชีก็จะได้เปรียบหน่อยๆ </p>

            <p>เชื่อว่าทุกคนสักวันก็ต้องขึ้นมาเป็นระดับ Senior หรือ Manager อยู่แล้ว การมีความรู้ทางองค์กรและการจัดการธุรกิจ ก็จะทำให้ตัวเราดูมี Value มากขึ้น เข้าใจในตัวเนื้องานและโครงการต่างๆขององค์กรมากขึ้น ในที่ประชุมก็จะทำให้เราโดดเด่นยิ่งขึ้น สามารถถกประเด็นที่มีความเกี่ยวข้องกับเรื่อง Business Operation, Strategy, Cost หรือ Business Model ของตัวบริษัทได้ </p>

            <p>ปัจจุบันมี Business school เปิดคอร์สอัพ Skill ด้านธุรกิจเพิ่มขึ้นมากมาย เหมือนเป็นการย่อยองค์ความรู้ให้ทุกคนสามารถเข้าถึงและเสพงานด้าน Business ได้ง่ายขึ้น ทั้งด้าน Finance, Management หรือ Marketing เปรียบเสมือนไปเรียนคอร์ส MBA ย่อยๆเลยล่ะ ศึกษาไว้รับรองไม่เสียหายเผื่อในอนาคตจะไปต่อป.โทด้านธุรกิจหรือทำงานสาย Management ได้ครับผม </p>

            <p class="detail-text-bold"> 7. Information Technology Knowledge </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/08.jpg" />

            <p>เราไม่จำเป็นต้องก้าวตามโลก IT ทัน (เพราะปัจจุบันมันก็มีออกมารัวๆอยู่แล้ว 555) แต่ให้พอรู้พอเข้าใจหลักการของ Technology บ้างก็ดี (ยุคนี้ถ้าใครเรียนสาย IT มาก่อนก็จะได้เปรียบอยู่หน่อยๆล่ะ!)</p>

            <p>IT Knowledge ที่ว่านี้ก็เช่น เรื่อง Blockchain, Smart Farming, Digital Transformation, Social Media Analysis, Data Science ซึ่งบางเรื่องที่กล่าวมาอาจจะเก่าไปแล้วด้วยซ้ำ 555 และหากมีเวลาเสริม อยากให้ลองทำความเข้าใจหลักการเขียนโปรแกรมเบื้องต้น ระบบฐานข้อมูล หลักการทำงานของสื่อ Social media, Data analytics การวิเคราะห์ข้อมูลโดยใช้เครื่องมือทางคอมพิวเตอร์เช่น Excel หรือ Power BI ไว้ด้วย </p>

            <p>โดยเจ้าความรู้ทางด้านไอทีเหล่านี้สามารถนำไปพัฒนาและต่อยอดจนเป็น Core skill หรือ Hard skill ของตัวเราได้เลย ไม่จำกัดว่าจะเรียนสาขาไหน คนที่เรียนสาขาอื่นแล้วโยกย้ายมาทำสายงาน IT ก็เห็นได้ทั่วไปครับ </p>

            <p>ทุกวันนี้มีธุรกิจไหนบ้างไม่ใช้สื่อ Online หรือ Technology เข้ามาช่วยอำนวยความสะดวกสบายในการทำงาน ? บอกเลยว่าแทบไม่มีครับ มั่นใจได้เลยว่ามีประโยชน์และอาจได้ใช้ในบางสาขาอาชีพด้วย เพราะส่วนใหญ่พนักงานออฟฟิศอย่างเราๆก็ทำงานกันหน้าคอมพิวเตอร์อยู่แล้ว เช่น สายงานบัญชี, Marketing, Business analyst หรือ HR ที่บางบริษัทหากคุณมีความสามารถในเรื่องฐานข้อมูลหรือสามารถทำ Data Analysis ได้ ก็จะได้รับการพิจารณาเป็นพิเศษอีกด้วย </p>

            <p>หรืออย่างบางสาขาวิชาในมหาวิทยาลัย ยังมีสอดแทรกเนื้อหาทาง IT เข้าไปด้วยเช่นกัน เช่น เด็กบัญชียังต้องมีเรียนวิชาจำพวก Database หรือ ERP อย่างคณะบริหารธุรกิจยังมีให้เลือกเรียนสาขาวิชา Management Information Systems อีกต่างหาก ดังนั้นเรื่อง IT จึงไม่ใช่เรื่องไกลตัวเสียทีเดียว ทุกวันนี้ทุกคนก็ใช้สื่อ Social Media ซึ่งก็เป็นส่วนหนึ่งของโลก IT อยู่แล้วด้วย</p>

            <p>เราสามารถหาความรู้เพิ่มความสามารถให้ตัวเองได้ง่ายๆผ่านคอร์สออนไลน์หรือ Youtube ทั่วไปได้เลย ปัจจุบันการสร้าง Application สามารถทำได้ง่ายกว่าแต่ก่อนมาก ลองใช้เวลาทำความเข้าใจกับโลก IT ดู บางทีอาจเป็นอีกหนึ่งสายหรืออีกหนึ่งทางเลือกที่จะกลายเป็นอาชีพของเราได้ในอนาคตครับ</p>

            <p class="detail-text-bold"> (แถมให้) ข้อ 8. ผลงาน / ประสบการณ์ (หากมี) </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/09.jpg" />

            <p>เพิ่งเรียนจบจะไปเอาประสบการณ์จากไหน ? อืม...นั่นสินะ แต่ว่าพวกการแข่งขันในระดับมหาวิทยาลัย การมีส่วนร่วมกิจกรรมของคณะ ใบ Certification หรือโปรเจคระหว่างเรียน ก็สามารถยกขึ้นมาอ้างอิงได้เหมือนกันครับ ลองหาๆดูเชื่อว่าแต่ละคนต้องเคยทำกิจกรรมหรือทำงานอะไรสักอย่างที่พอจะเล่าได้บ้างแหละ </p>

            <p>ที่สำคัญมากๆสำหรับเด็กจบใหม่และมีน้ำหนักค่อนข้างมากในการสมัครงาน คือ ประสบการณ์ฝึกงาน Internship นั่นเอง เป็นอีกหนึ่งสิ่งที่ผู้จ้างงานอยากรู้ที่สุด ว่าเราเคยผ่านการฝึกงานที่ไหนมาก่อนและมันก็เป็นตัวบ่งบอกความสามารถของเราได้ในระดับหนึ่งเลยล่ะ แม้จะเป็นการฝึกงานระยะเวลาสั้นๆสองเดือน หรือบางทีอาจเป็นการฝึกงานสหกิจศึกษาใช้เวลาทั้งเทอม นั่นก็เป็นสิ่งการันตีอย่างหนึ่งว่า เราเคยทำงาน ใช้ชีวิตเป็นเด็กออฟฟิศครับ ก็มีที่ทำได้บ้าง Fail บ้าง ก็ยังดี ยังพอมีอะไรเล่าให้ผู้จ้างงานฟัง อย่ากังวลว่าจะเป็นบริษัทเล็กหรือใหญ่ งานหนักหรืองานน้อย สิ่งสำคัญคือเราได้อะไรจาการฝึกงานครั้งนี้ ได้เจออะไรมาบ้าง แค่นั้นก็เพียงพอแล้วจ้า </p>

            <img class="detail-img" src="~/image/Read/Blog/SevenSkill/10.jpg" />

            <p>ทั้งนี้นอกเหนือจาก List 7 ข้อด้านบน Passion ในการทำงาน, Continuous Learning, ความมั่นใจ และ Resume เนี๊ยบๆก็เป็นสิ่งที่จำเป็นต้องมีเป็นกำลังเสริมของตัวเราเช่นกัน </p>

            <p>สำหรับตัว Resume ซึ่งหากไม่ใช่สาย Art หรือ Creative แนะนำให้ใช้ Resume ที่ไม่มีสีสันเยอะเกินไป ให้ใช้เป็นแนว Professional สีขาวดำ ใส่เนื้อหาให้อ่านง่าย กระชับ ชัดเจน  ไม่ต้องยาวเหยียดหรือเนื้อหาเอี๊ยด ขอแค่ฉบับย่อ 1-1.5 หน้าก็ถือว่าเต็มที่แล้วครับสำหรับเด็กจบใหม่ (ให้ใช้เป็น Version ภาษาอังกฤษจะดีที่สุดครับ) ที่สำคัญต้องเป็นข้อมูลจริง สามารถเล่าหรือขยายความต่อได้ด้วยเด้อ และต้องขอบอกเลยว่า Resume ที่ดีมีชัยไปมากกว่าครึ่งเลยล่ะ </p>

            <p> ทั้งหมดทั้งมวลนี้นี่เองที่จะทำให้ Profile หรือตัวเราดูดีขึ้นไม่เพียงแต่ในสายตาของ Recruiter  แต่ยังเป็นประโยชน์กับตัวเราในการทำงานในอนาคตอีกด้วย! ยังไงเวลาว่างช่วงนี้ ก็หางานไปด้วยแล้วก็อย่าลืมอัพ Skill ของตัวเองไปด้วยนะครับ!</p>

            <p> วันนี้ขอลาไปก่อน แต่ก็มีของฝากทิ้งท้าย นั่นคือเว็ปไซต์ที่น่าเชื่อถือและเป็นที่นิยมสำหรับการสมัครงาน ลองไปฝากโปรไฟล์ตัวเองกันดูได้เลย </p>

            <ul>
                <li> <a href="www.linkedin.com/ "> www.linkedin.com/ </a> </li>
                <li> <a href="th.jobsdb.com/th"> th.jobsdb.com/th </a> </li>
                <li> <a href="www.jobthai.com/"> www.jobthai.com/ </a> </li>
                <li> <a href="www.jobbkk.com"> www.jobbkk.com </a> </li>
                <li> <a href="www.getlinks.co"> www.getlinks.co </a> </li>
                <li> <a href="www.workventure.com"> www.workventure.com </a> </li>
                <li> <a href="www.jobsukoi.com"> www.jobsukoi.com </a> </li>
                <li> <a href="www.Adecco.co.th"> www.Adecco.co.th </a> </li>
            </ul>

            <p>อีกหนึ่งช่องทางที่ Recruiter มักมาตามหา Talent ในตำแหน่งต่างๆ ก็คือใน Facebook นั่นเอง ลองเข้าทางกลุ่มสมัครงาน / ฝึกงานต่างๆหรือเพจ Official ของแต่ละบริษัทเพื่อติดตามการเปิดรับสมัครได้เลยครับ !</p>

        </div>

        <!--========================== Share Button =====================================-->
        <br />
        <div align="center">
            <div class="fb-share-button" data-href="https://miraii.space/Blog/sevenSkillsForFreshGraduate" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FsevenSkillsForFreshGraduate&amp;src=sdkpreparse" 
            class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
        <br />
        <br />

        <!--============================ Author's Thumbnail ===================================-->

        <div class="container bg-light">
            <div class="row">
                <div class="col-md" style="max-width:580px">
                    <img class="author-img" src="~/image/Read/Author_img/Pond's profile.jpg">
                </div>
                <div class="col-md author-detail author-box-text">
                    <p class="author-head-text">Author Info</p>
                    <p> <strong> Author </strong> : Alaska </p>
                    <p>
                        <strong> Style </strong> :
                        <a asp-controller="Blog" asp-action="Index"> Blog, </a>
                        <a asp-controller="Review" asp-action="Index"> Review, </a>
                        <a asp-controller="Life" asp-action="Index"> Life </a>
                    </p>
                    <p>
                        <strong> Contact </strong> : miraii.team@gmail.com
                    </p>
                    <p>
                        "Hello World !"
                    </p>
                </div>
            </div>
        </div>

        <br />

        <!--========================== Facebook Comment Plugin ======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                        <div class="card-body">
                            <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                        </div>
                    </div>
                </div>

                <!--========================== You May Also Like ? ======================-->
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                        <div class="card-body">

                            <!--1st-->
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="Valorant">
                                <img class="also-img" src="~/image/Read/Blog/Valorant/1200x480.jpg">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="Valorant">VALORANT เกมส์ดีที่ไม่ได้มีดีแค่ยิงแม่นเท่านั้น ?! </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : ลุงโจนาธาน </p> </div>
                                <div class="col text-right"> <p class="also-credit"> 2020/08/17 </p></div>
                                <br />
                            </div>

                            <!--2nd-->
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="ProjectPowerNetflix">
                                <img class="also-img" src="~/image/Read/Blog/Project Power Netfilx/1200x480.jpg">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="ProjectPowerNetflix">จะเกิดอะไรขึ้นหากคนธรรมดาสามารถเป็นยอดมนุษย์ได้ด้วยยาเม็ดเดียว ? </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : ลุงโจนาธาน </p> </div>
                                <div class="col text-right"> <p class="also-credit"> 2020/08/16 </p></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================ Banner =======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="card-text mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
