@{
    ViewData["Title"] = "อุ่นเครื่องก่อนดู TENET กับเรื่องการผกผันของเวลาที่รอการพิสูจน์ ?";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

<head>
    <link href="~/css/css_article.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-175459266-1');
    </script>

    <style>
        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Blog/Tenet/1200x480.jpg">
    <div class="container space">
        <p class="top-title"> อุ่นเครื่องก่อนดู TENET กับเรื่องการผกผันของเวลาที่รอการพิสูจน์ ? </p>

        <!--Credit-->
        <div class="row">
            <div class="col text-left">
                <br />
                <p class="top-credit">Author&nbsp; : จุงโจนาธาน  </p>
                <p class="top-credit">Editor&nbsp; : Alaska </p>
                <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: 2020-08-22 </p>
            </div>

            <div class="col text-right">
                <ul id="force-sameLine" class="top-credit">
                    <li><i class="far fa-eye"></i> &nbsp; </li>
                    <li>
                        <a style="color:white; letter-spacing: -1px;" href='https://www.free-counters.org/'>free-Counters.org</a>
                        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=0d79b3cbe2bdb289b44dad26da5e7a9f9e5c0f2b'></script>
                        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/735145/t/3"></script>
                    </li>
                    <br />
                    <div class="fb-share-button" data-href="https://miraii.space/blog/tenet" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2Ftenet&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                </ul>
            </div><!--style="color:white; letter-spacing: -1px;"-->
            <br />
        </div>
        <hr>
        <br>
    </div>

    <!--========================== Detail =======================================-->
    <div class="container space">

        <img class="detail-img" src="~/image/Read/Blog/Tenet/500x261.jpg" />

        <p>เชื่อว่า Christopher Nolan ต้องเป็นชื่อที่เพื่อนๆคอหนังหลายคนคุ้นเคยเป็นอย่างดี ชื่อของเขาคนนี้มักจะปรากฏในภาพยนตร์ชื่อดังต่างๆในฐานะผู้กำกับอดีตหนังดังอย่าง Batman : The Dark Knight, Dunkirk และ Inception </p>

        <p>ซึ่ง Nolan คัมแบ็คมาพร้อมกับผลงานล่าสุดในปี 2020 อย่าง Tenet ที่กำลังจะเข้าฉายในโรงภาพยนตร์บ้านเราเร็วๆนี้แหละครับท่านผู้ชม !</p>

        <p>วันนี้ในฐานะที่เป็นสาวกภาพยนตร์โนแลนเหมือนกัน จึงขออาสานำเสนอข้อมูลที่เกี่ยวกับเจ้า Tenet นี้ก่อนจะเข้าไปดูในโรงภาพยนตร์กันสักหน่อย ซึ่งก็ต้องขอบอกก่อนว่านี้เป็นเพียงแค่การคาดเดาเนื้อหาเล่นๆเท่านั้นเด้อ</p>

        <p>เพราะสำหรับ FC ก็คงพอจะรู้ดีว่าผู้กำกับอย่าง Nolan ไม่ค่อยเปิดเผยข้อมูลที่เกี่ยวข้องกับตัวหนังออกมาให้เรารู้มากนักจนกว่าภาพยนตร์จะเข้าฉายในโรง คล้ายๆว่าจะให้เราไปดูเองมากกว่า แกออกแนวติสๆหน่อยอะนะครับ 555 ขนาดนักแสดงยังรู้แค่เฉพาะบทของตัวละครที่ตัวเองเล่นเท่านั้นเล้ย</p>

        <img class="detail-img" src="~/image/Read/Blog/Tenet/Tenet_1.jpg" />

        <p>แต่ที่เปิดเผยมาจากแหล่งข่าวลับๆ ก็มีแค่ว่า John David Washington จะได้รับบทเป็นตัวละครเอกในหนังไซไฟเรื่องนี้ โดยเขาจะได้รับอาวุธติดตัวที่เรียกว่า Tenet สำหรับใช้ในการต่อสู้ ซึ่งเนื้อเรื่องก็จะออกแนวการเดินทางผ่านโลกจารกรรมข้ามชาติและต้องทำภารกิจเพื่อคลี่คลายบางสิ่งบางอย่างที่อยู่เหนือขอบเขตเวลาที่แท้จริง ซึ่งก็ไม่ใช่แนวการเดินทางข้ามเวลานะ แต่มันคือการผกผันของเวลา ? (เอิ่ม..มันจะซับซ้อนกว่าเรื่องก่อนๆอีกมั้ยนะ)</p>

        <p>ล่าสุดดูเหมือนว่าจะมีนักรีวิวตาดีหลายสำนักลองแกะตัวอย่างฉบับล่าสุดที่ปล่อยออกมา ซึ่ง Nolan มักจะสร้างฉากทุกฉากในผลงานของเขาให้มีที่มาที่ไปเสมอ ไม่ได้ใส่ๆมามโนมั่วๆนะจ๊ะ</p>

        <hr />
        </style><div class='embed-container'><iframe src='https://www.youtube.com/embed/L3pk_TBkihU' frameborder='0' allowfullscreen></iframe></div>
        <hr />

        <img class="detail-img" src="~/image/Read/Blog/Tenet/Tenet_2.png" />

        <p>โดยจะมีฉากช่วง 1 นาที 8 วินาที ที่ตัวเอก John David Washington กำลังซ้อมยิงปืน และมีกระดานไวท์บอร์ดเป็นพื้นหลังที่มีทฤษฏีทางฟิสิกส์เขียนเอาไว้ ทำให้ชาวเน็ตนำไปตีความได้ออกมาเป็น 2 ทฤษฏีหลักๆ</p>

        <p>ทฤษฏีแรกนั้นก็คือ ทฤษฏี EnTropy ของ Rudolf Julius Emanuel Clausius นักฟิสิกส์และนักคณิตศาสตร์ชาวเยอรมันที่มีแนวคิดว่าระบบทุกประเภทที่อยู่ในธรรมชาติไม่ว่าจะเป็น น้ำ ต้นไม้ อากาศรวมไปถึงสสารต่างๆ จะเข้าสู่สภาวะความไร้ระเบียบเสมอจนไม่สามารถคาดเดาได้ เปลี่ยนแปลงโดยไม่มีการย้อนกลับ ยกตัวอย่างให้เพื่อนๆเห็นภาพหากเราทำไข่แตกเราจะไม่สามารถทำให้ไข่ใบนั้นกลับมาอยู่ในสภาพเดิมก่อนแตกได้นั่นเอง</p>

        <img class="detail-img" src="~/image/Read/Blog/Tenet/Tenet_3.jpg" />

        <p>และอีกทฤษฏีหนึ่งที่อยู่บนกระดานก็คือ ทฤษฏี Maxwell’s Demon ของ James Clerk Maxwell นักวิทยาศาสตร์ชาว Scottish ที่ว่าด้วยเรื่องหากเรารู้เส้นทางการเคลื่อนที่ของอะตอม เราจะสามารถคำนวณได้ว่าอะตอมจะเคลื่อนที่ไปในช่วงเวลาในอนาคตต่อไปยังไงได้บ้าง ? </p>

        <p>ซึ่ง Nolan เองก็อาจกำลังจะนำเสนอว่าหากเราสามารถควมคุมการไหลของ EnTropy ให้ลดลงได้ อาจจะทำให้สสารรวมไปถึงการไหลของเวลาย้อนกลับไปได้อีกด้วย ?!</p>

        <img class="detail-img" src="~/image/Read/Blog/Tenet/Tenet_4.jpg" />

        <p>อืม...ตัวเนื้อหาอาจจะชวนงงไปบ้าง เราลองมาพูดถึงนักแสดงที่น่าสนใจที่ปรากฏใน Trailer กันแทนดีกว่าครับ 555 </p>

        <p>ล่าสุดก็ได้ Robert Pattinson อดีตแวมไฟร์สุดหล่อจาก Twilight มารวมแจมด้วย ซึ่งตอนนี้เจ้าตัวก็ได้ตอบรับบท Batman เวอร์ชั่น 2021 ไปเรียบร้อย, Clémence Poésy นักแสดงชาวฝรั่งเศสที่เคยปรากฏตัวในแฮร์รี่ พอตเตอร์กับถ้วยอัคนี ที่รับบทเป็น เฟลอร์ เดอลากูร์, Himesh Patel ที่เคยโลดเล่นในภาพยนตร์ดังเรื่อง Yesterday และ Elizabeth Debicki ที่ฝากชื่อไว้ใน Guardians of the galaxy vol.2 ในบท Ayesha จาก Marvel Studio</p>

        <img class="detail-img" src="~/image/Read/Blog/Tenet/Tenet_5.jpg" />

        <p>ส่วนตัวคิดว่า Tenet อาจเป็นภาพยนตร์ที่เล่าถึงตัวเอกที่ทำงานอยู่ในองค์กรลับคล้ายๆในหนังสายลับเจมส์ บอร์น ที่ได้รับภารกิจต่อกรและหยุดยั้งองค์กรที่มีแผนการชั่วร้ายบางอย่าง เช่น ต้องการนำอาวุธที่มีความสามารถควบคุมการไหลของ EnTropy มาใช้หรือสร้างแรงสั่นสะเทือนต่อโลกเวลานั่นเอง ก็ต้องขอย้ำอีกครั้งว่านี้เป็นเพียงแค่การคาดเดาส่วตัวของผมเท่านั้นนะเพื่อนๆ 555  </p>

        <p>หากใครสนใจหรือเป็นแฟนคลับตัวยงของผู้กำกับ Christopher Nolan ละก็ ภาพยนตร์ Tenet 2020 นี้ก็ต้องห้ามพลาดด้วยประการทั้งปวง เข้าฉายพร้อมกันในวันที่ 27 สิงหาคม 2020 สามารถติดตามข่าวสารและรับชมได้ทุกโรงภาพยนตร์ทั้งในเครือ Major และ SF ทุกสาขาครับ</p>

        <p>ก่อนจากกันอยากถามฝากคำถามกับเพื่อนๆว่า หากสามารถย้อนเวลาสิ่งของบางอย่างให้กลับมาเป็นเหมือนเดิมได้ เพื่อนๆอยากจะย้อนอะไร ? สามารถคอมเมนต์มาบอกเล่ากันเยอะๆได้เลย</p>

        <p>ฝากกดไลค์ กดแชร์ กดติดตาม เพจ Miraii เพื่อไม่ให้พลาดหลากหลายคอนเทนต์ดี ๆ และเป็นกำลังใจให้พวกด้วยเด้อ !</p>

    </div>

    <!--========================== Share Button =====================================-->
    <br />
    <div align="center">
        <div class="fb-share-button" data-href="https://miraii.space/blog/tenet" data-layout="button_count" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2Ftenet&amp;src=sdkpreparse" 
            class="fb-xfbml-parse-ignore">Share</a>
        </div>
    </div>
    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->

    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text">
                <p class="author-head-text">Author Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                    <a asp-controller="Review" asp-action="Index"> Entertainment, </a>
                    <a asp-controller="Review" asp-action="Index"> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    " เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น "
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Comment Plugin ======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>

            <!--========================== You May Also Like ? ======================-->
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">

                        <!--1st-->
                        <hr />
                        <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="SevenSkillsForFreshGraduate">
                            <img class="also-img" src="~/image/Read/Blog/SevenSkill/12.png">
                        </a>
                        <hr />
                        <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="SevenSkillsForFreshGraduate"> ควรอ่านถ้าอยากได้งาน : 7 สิ่งที่เด็กจบใหม่ควรมี ?! </a>
                        <br />
                        <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        <div class="row">
                            <div class="col text-left">  <p class="also-credit"> Author : Alaska </p> </div>
                            <div class="col text-right"> <p class="also-credit"> 2020/08/21 </p></div>
                        </div>

                        <!--2nd-->
                        <hr />
                        <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="Valorant">
                            <img class="also-img" src="~/image/Read/Blog/Valorant/1200x480.jpg">
                        </a>
                        <hr />
                        <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="Valorant">VALORANT เกมส์ดีที่ไม่ได้มีดีแค่ยิงแม่นเท่านั้น ?! </a>
                        <br />
                        <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        <div class="row">
                            <div class="col text-left">  <p class="also-credit"> Author : ลุงโจนาธาน </p> </div>
                            <div class="col text-right"> <p class="also-credit"> 2020/08/17 </p></div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
