@{
    ViewData["Title"] = "Valorant เกมดีที่ไม่ได้มีดีแค่ยิงแม่นเท่านั้น ?!";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

    <head>
        <meta property="og:image" content="~/image/Read/Blog/Valorant/Valorant 500x261.jpg" />

        <link href="~/css/css_article.css" rel="stylesheet" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
        </script>

    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

        <!--=========================== Head & Name ==================================-->
        <img class="head-img" src="~/image/Read/Blog/Valorant/1200x480.jpg">
        <div class="container space">
            <p class="top-title">VALORANT เกมดีที่ไม่ได้มีดีแค่ยิงแม่นเท่านั้น ?!</p>

            <!--Credit-->
            <div class="row">
                <div class="col text-left">
                    <br />
                    <p class="top-credit">Author&nbsp; : ลุงโจนาธาน </p>
                    <p class="top-credit">Editor&nbsp; : Alaska </p>
                    <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: 2020-08-17 </p>
                </div>

                <div class="col text-right">
                    <ul id="force-sameLine" class="top-credit">
                        <li><i class="far fa-eye"></i> &nbsp; </li>
                        <li>
                            <a style="color:white; letter-spacing: -1px;" href='https://www.free-counters.org/'>free-Counters.org</a>
                            <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=2db1b86f929f26ae81b910c61f23c4e6fcfa2c95'></script>
                            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/735146/t/3"></script>
                        </li>
                        <br />
                        <li class="fb-share-button " data-href="https://miraii.space/Blog/valorant" data-layout="button_count" data-size="large">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%valorant&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </li>

                    </ul>
                </div><!--style="color:white; letter-spacing: -1px;"-->
                <br />

            </div>
            <hr>
            <br>
        </div>

        <!--========================== Detail =======================================-->
        <div class="container space">

            <img class="detail-img" src="~/image/Read/Blog/Valorant/500x375.jpg">

            <p>
                หลังจากเปิดให้บริการมาได้ 2 เดือน ดูเหมือนว่าเกม Valorant จากค่ายเกมชื่อดังอย่าง Riot จะสร้างกระแสได้ดีจนโปรเพลเยอร์และนักแคสเกมชื่อดังหลายๆท่านให้ความสนใจและเริ่มติดอาวุธลงสนามรัวปืนกันอย่างล้นหลาม ปัจจุบัน Valorant เป็นเกมที่ได้รับการจับตามองอย่างมากและกำลังขยาย Community ในไทยอย่างรวดเร็ว
            </p>

            <p>
                เราลองมาดูกันว่าทำไม Valorant เกมยิงๆแนว FPS นี้ถึงกลายเป็นเกมที่เราอยากแนะนำให้เพื่อนๆลองหามาเล่นกันครับ
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_1.png">

            <p>
                อันดับแรกเลย Valorant เป็นเกมที่มีค่ายชื่อดังอย่าง Riot เป็นผู้อยู่เบื้องหลังในการพัฒนา
                ซึ่งเป็นผู้สร้างเกมที่มีชื่อเสียงไปทั่วโลกอย่าง League of legends และเจ้า Valorant
                นี้ยังเป็นเกมแนว FPS เกมแรกของทางค่ายอีกด้วย
            </p>
            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_2.jpg">
            <p>
                ต่อมาก็คือระบบในเกมที่มี Agent (ตัวละคร) ที่มีความสามารถและสกิลที่หลากหลาย เป็นเกมแนว FPS
                ที่มีการดึงจุดเด่นหลายๆเกมที่มีชื่อเสียงอย่างเช่น Counter Strike และ Overwatch ออกมาได้อย่างลงตัว
                ไม่ใช่แนวใส่ชุดทหารถือปืนยิงๆกันแบบแต่ก่อนแล้ว หลายๆอย่างค่อนข้างทันสมัย โดยเฉพาะ Design ของตัวละครและอาวุธ
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_3.jpg">

            <p>
                ส่วนในเรื่องการออกแบบเกม Varolant ก็ได้หัวหน้าทีม Game Designer อย่าง Trever Romleski
                และนักออกแบบเกมระดับอาวุโส (ฝ่ายแผนที่) อย่าง Salvator Garozzo ที่เคยมีประสบการณ์ดูแลเกมอย่าง
                League of legends มาก่อน เรียกได้ว่าเราก็จะได้เห็น Valorant ที่แนว FPS แต่ก็มีความแฟนตาซีขึ้นด้วยนั่นเอง
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_4.jpg">

            <p>
                ซึ่งทางทีมพัฒนาก็ออกมาอธิบายว่า เนื่องจากคนที่มาเล่น Valorant บางทีอาจมีพื้นฐานจากการเล่นเกมที่แตกต่างกัน
                พวกเขาจึงออกแบบให้ตัวละครมีการเคลื่อนไหวความเร็วปกติ ไม่ได้วิ่งไว เข้าทำเกมอย่างรวดเร็วมากเกินไป
                ซึ่งก็อาจจะทำให้บางคนรู้สึกสปีดเกมค่อนข้างช้าหากคนที่ไม่เคยชินกับเกมแนววางแผนกลยุทธ์มาก่อน
                เพราะทางทีมพัฒนาก็ต้องการให้ผู้เล่นคำนึงถึงการจัดวางตำแหน่งตัวละครและการต่อสู้ ทำให้ต้องมีการไตร่ตรองอย่างถี่ถ้วนก่อนการเคลื่อนไหวครับ
                ดังนั้นก็ไม่ต้องแปลกใจว่าทำไมตัวเกม Valorant ค่อนข้างใช้เวลาในการเล่นเยอะ พูดง่ายๆก็คือเป็นเกมแนว FPS กึ่งๆวางแผนกลยุทธ์
                และวิเคราะห์แผนที่กับสกิลของตัวละครมากกว่า ไม่ได้โฟกัสไปที่การบุกไปยิงๆและฆ่าล้างศัตรูแบบ FPS ทั่วๆเพียงอย่างเดียว
            </p>

            <p>
                แต่พวกเขายังคงโมเมนต์ที่ผู้เล่นบางคนสามารถสร้างสิ่งที่เซอร์ไพรส์ได้อย่างเช่น ฝ่ายที่เสียเปรียบเหลือตัวเดียวแต่สามารถเอาชนะอีกฝ่ายที่รุม 4 ตัวได้อย่างปาฏิหาริย์ ว้าววว !!! ใครที่ชอบลุยเดี่ยวก็ยังสามารถทำได้อยู่นะ
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_5.jpg">

            <p>
                สิ่งสำคัญที่ทีมงานต้องการคือ การผสมผสานทั้งรูปแบบการยิงที่น่าสนใจ และการเพิ่มความสามารถพิเศษอื่นๆมาช่วยเติมเต็มกันและกันภายในเกม
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant_6.jpg">

            <p>
                ด้วยเหตุผลที่เรายกขึ้นมาทั้งหมด จึงไม่แปลกใจเลยว่าทำไม Valorant จึงเป็นเกมที่มาแรงแซงทางโค้งและมีจำนวนผู้เล่นเพิ่มขึ้นมากในช่วงนี้
                นักแคสเกมชื่อดังในบ้านเราอย่างพี่เอก HeartRocker หรือแม้กระทั่งไอดอลสาวชื่อดังลูกครึ่งเกาหลีใต้อังกฤษอย่าง Shanon Arrum Willians
                ก็มาร่วมวงเล่น Valorant เรียบร้อย
            </p>
            <p>
                หากใครสนใจก็สามารถหาดาวโหลดมาเล่นได้แล้ววันนี้ในเว็บไซต์หลักของเกม Valorant ที่
                <a href="https://www.playvalorant.com/">https://www.playvalorant.com/</a>
                ซึ่งอยากกระซิบบอกเพื่อนๆว่าตัวเกมใช้สเปคคอมและกราฟฟิคค่อนข้างต่ำ !!
                เชื่อว่าหาเล่นกันได้ไม่ยากครับ (ฟรีด้วยนะ)
            </p>
            <p>
                ก่อนจากกันเราอยากรู้ว่าเพื่อน ๆ คิดเห็นอย่างไรกับ Varolant นี้ สามารถคอมเมนต์กันมาได้เลยนะจ๊ะ
                ฝากกดไลค์ กดแชร์ กดติดตาม เพจ Miraii เพื่อไม่ให้พลาดหลากหลายคอนเทนต์ดีๆ และเป็นกำลังใจให้พวกเราด้วยนะครับ
            </p>

            <img class="detail-img" src="~/image/Read/Blog/Valorant/Valorant 500x261.jpg">
        </div>

        <!--========================== Share Button =====================================-->
        <br />
        <div align="center">
            <li class="fb-share-button " data-href="https://miraii.space/Blog/valorant" data-layout="button_count" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%valorant&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </li>
        </div>
        <br />
        <br />

        <!--============================ Author's Thumbnail ===================================-->

        <div class="container bg-light">
            <div class="row">
                <div class="col-md" style="max-width:580px">
                    <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
                </div>
                <div class="col-md author-detail author-box-text">
                    <p class="author-head-text">Author Info</p>
                    <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                    <p>
                        <strong> Style </strong> :
                        <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                        <a asp-controller="Blog" asp-action="Index"> Entertainment, </a>
                        <a asp-controller="Blog" asp-action="Index"> Book </a>
                    </p>
                    <address>
                        <strong> Contact </strong> :
                        <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> | </a>
                        <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                    </address>
                    <p>
                        เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                        และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น
                    </p>
                </div>
            </div>
        </div>

        <br />

        <!--========================== Facebook Comment Plugin ======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                        <div class="card-body">
                            <div class="fb-comments" data-href="https://miraii.space/Blog/valorant" data-width="480" data-numposts="3"></div>
                        </div>
                    </div>
                </div>

                <!--========================== You May Also Like ? ======================-->
                <div class="col-lg-6">
                    <div class="card my-4 embed-responsive">
                        <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                        <div class="card-body">

                            <!--1st-->
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="ProjectPowerNetflix">
                                <img class="also-img" src="~/image/Read/Blog/Project Power Netfilx/1200x480.jpg">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="ProjectPowerNetflix">จะเกิดอะไรขึ้นหากคนธรรมดาสามารถเป็นยอดมนุษย์ได้ด้วยยาเม็ดเดียว ? </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : ลุงโจนาธาน </p> </div>
                                <div class="col text-right"> <p class="also-credit"> 2020/08/16 </p></div>
                            </div>

                            <!--2nd-->
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="SevenSkillsForFreshGraduate">
                                <img class="also-img" src="~/image/Read/Blog/SevenSkill/12.png">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="Blog" asp-action="SevenSkillsForFreshGraduate"> ควรอ่านถ้าอยากได้งาน : 7 สิ่งที่เด็กจบใหม่ควรมี ?! </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : Alaska </p> </div>
                                <div class="col text-right"> <p class="also-credit"> 2020/08/21 </p></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================ Banner =======================-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="card-text mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">?????</div>
                            <p class="mb-auto">?????</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
