@{ ViewData["Title"] = "About";
                Layout = "~/Views/Shared/_Layout_About.cshtml"; }

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .icon {
        margin-top: 8px;
        margin-bottom: 9px;
        font-size: 35px;
    }
</style>
<!--Crossfade Carousel (picture 1200x480)-->
<img src="~/image/Index/cover.png" class="img-head">

<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img class="img-fluid" src="~/image/Index/Miraii LOGO.png" alt="">
            <img class="img-fluid" src="https://cdn.vox-cdn.com/thumbor/VCuWHw2qUHB6UbN97mA1_abeyNU=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13250843/breakdancing_together.jpg" alt="">

        </div>
        <div class="col-lg-6">
            <hr>
            <h2 class=" text-center"><strong>ABOUT US</strong></h2><br />
            <h2 class="display-6 text-center">Online Based Content Community</h2>
            <hr>
            <address>
                <br />
                <p>
                    ในภาษาญี่ปุ่น คำว่า Mirai (N.) แปลว่า "อนาคต" ซึ่งก็ไปพ้องเสียงกับคำพูดติดปากของคนไทย คำว่า "มีไร ?" ให้ความรู้สึกเหมือนประโยคที่ว่า "มีอะไรมาเล่าให้ฟัง" เพื่อสอดคล้องกับ Content ญี่ปุ่นๆในช่วงแรกที่เราทำ จึงเป็นที่มาของชื่อ Project Miraii นี่เอง :) <br /><br />

                    ปัจจุบันเราต้องการเป็นสื่อตัวกลางอีกหนึ่งช่องทางในการนำเสนอ Content และเรื่องราวต่างๆเพื่ออนาคตที่ดีกว่าเดิมและกำลังพัฒนาตัวเองเพื่อเป็น Content Provider Community ที่ไม่ได้จำกัดวงแค่วัฒนธรรมญี่ปุ่น แต่เราเปิดพื้นที่กว้างๆสำหรับคนที่มีเรื่องมาเล่า มีเรื่องมาแชร์ ในรูปแบบบทความหรือ Blog ครอบคลุมเนื้อหาในเรื่อง Trend, Lifestyle, Art, Learning, Review, Interview หรือสื่อโฆษณา สอดแทรกเนื้อหาทั้งที่มีสาระและไร้สาระไปด้วยกัน<br /><br />
                    ตอนนี้เรากำลังขยายทีมและเปิดโอกาสสำหรับน้องๆนิสิตนักศึกษาไม่จำกัดชั้นปี ไม่จำกัดสาขา ไม่ว่าจะอยู่บ้าน อยู่จังหวัดไหนก็สามารถร่วมทีม Internship หรือทำ Part-Time กับเราได้ !
                    โดยเรามี Basic Requirement เล็กน้อย นั่นคือ ทุกคนสามารถทำงานที่บ้านได้ / ไม่มี Fix เวลาทำงาน / สามารถจัดสรรแบ่งเวลาเองได้ / เราประชุมงานผ่าน Online Meeting / มีความรู้พื้นฐานในตำแหน่งนั้นๆ / สื่อสารรู้เรื่องทั้งการพูดและการเขียน / เข้าใจและเสพสื่อ Social Media เป็นประจำ
                    <br /><br />ขอโปรโมตนิดเพิ่มเติมนิดนึงว่า เราเปิดโอกาสให้ทุกคนมีส่วนร่วมในการสร้างสรรค์ผลงานออนไลน์ ไม่ว่าจะมีสาระหรือไร้สาระ หากใครมีงานเขียนเช่นเรื่องสั้น,นวนิยาย หรือ Artwork ภาพวาด ก็สามารถติดต่อเข้ามาร่วม Featuring กับ Miraii ได้เช่นกันนะครับ : )
                    <br />
                </p>
                <div class="text-center">
                    <p><a href="mailto:#">miraii.team@gmail.com</a></p>
                </div>
                <br />
            </address>
            <br />
        </div>
        <br />
        <br />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <hr>
            <h2 class="display-6 text-center"><strong>Content Creator / Writer</strong></h2>
            <h5 class="text-center">(Internship / Part-Time)</h5>
            <hr>
            <p class="display-7b text-center">นักสร้าง Content คิดเก่ง เขียนเก่ง มีไอเดียตลอด !</p>
            <address>
                <br />
                <p class="text-center"><strong>ROLE DESCRIPTION </strong></p>
                <p>
                    • Create text and multimedia content for online communication.<br />
                    • Plan and execute podcast, article, blog & multimedia programs.<br />
                    • Work with graphic designer team to improve content and user experience.<br />
                    • Conduct other content-related works such as interviews, proofreading and editing.<br />
                    • Translate simple content with a clearly defined content style.<br />
                    • Have excellent writing and communication skills.<br />
                </p>
                <div class="text-center">
                    <p><a href="mailto:#">miraii.team@gmail.com</a></p>
                    <a href="https://www.instagram.com/"><i class="icofont-instagram icon "></i></a>
                    <a href="https://www.facebook.com/"><i class="icofont-facebook icon"></i></a>
                    <a href="https://www.linkedin.com/"><i class="icofont-linkedin icon text-center"></i><br /><br /></a>

                </div>
                <br />
            </address>
            <br />
        </div>
        <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://i.pinimg.com/originals/30/23/83/302383c530b39f5a65f11b4ef986e3ce.gif" alt="">
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f8d5aade-18d3-4246-8bc8-de907cb9f4ed/daqy7hz-48c838d0-7838-4e25-bade-44d7431ef21f.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZjhkNWFhZGUtMThkMy00MjQ2LThiYzgtZGU5MDdjYjlmNGVkXC9kYXF5N2h6LTQ4YzgzOGQwLTc4MzgtNGUyNS1iYWRlLTQ0ZDc0MzFlZjIxZi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.YPxUxZC07NfrQZc02jHIyywH2YAzY-CIQ7AFrOxCqgs" alt="">
        </div>
        <div class="col-lg-6">
            <hr>
            <h2 class="display-6 text-center"><strong>Online Marketer</strong></h2>
            <h5 class="text-center">(Internship / Part-Time)</h5>
            <hr>
            <p class="display-7b text-center">นักการตลาดออนไลน์ วางแผน SEO และการยิง Ads !</p>
            <address>
                <br />
                <p class="text-center"><strong>ROLE DESCRIPTION </strong></p>
                <p>
                    • Manage brand, online marketing activities and strategy.<br />
                    • Control marketing visual & marketing communication match with brand image & brand concept.<br />
                    • Summarize marketing result of each campaign.<br />
                    • Have knowledge and interest in SEO & SEM marketing principle.<br />
                    • Have in depth knowledge of social media, current and upcoming trend.<br />
                    • Got well understanding of all social media platforms<br />
                </p>
                <div class="text-center">
                    <p><a href="mailto:#">miraii.team@gmail.com</a></p>
                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" />
                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" />
                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" /><br />
                </div>
            </address>
            <br />
        </div>

        <br />
        <br />
        <br />
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <!-- Post Content Column -->

        <div class="col-lg-6">
            <hr>
            <h2 class="display-6 text-center"><strong>Graphic Designer</strong></h2>
            <h5 class="text-center">(Internship / Part-Time)</h5>
            <hr>
            <p class="display-7b text-center">สร้างสรรค์งาน Graphic เสกงานด้าน Artwork !</p>
            <address>
                <br />
                <p class="text-center"><strong>ROLE DESCRIPTION </strong></p>
                <p>
                    • Responsible for creating visual communications, artworks both online and offline (Social Media, Web Banners, Infographic, Multimedia)<br />
                    • Support other job functions for any design requests.<br />
                    • Have passion in design & digital trend updates.<br />
                    • Familiar with Canva, Adobe Illustrator and Photoshop.<br />
                </p>
                <div class="text-center">
                    <p><a href="mailto:#">miraii.team@gmail.com</a></p>

                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" />
                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" />
                    <img src="https://media.giphy.com/media/8L0T9qoN744tzLk2hM/giphy.gif" class="img-fluid text-center" width="100" height="100" /><br />

                </div>
                <br />
            </address>
            <br />
        </div>
        <div class="col-lg-6 text-center">
            <img class="img-fluid" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/196176d7-d088-4c5e-b44a-69aaac4413b1/dbt0yfd-9e7772ad-a94e-4a65-9497-c05e41337a14.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTk2MTc2ZDctZDA4OC00YzVlLWI0NGEtNjlhYWFjNDQxM2IxXC9kYnQweWZkLTllNzc3MmFkLWE5NGUtNGE2NS05NDk3LWMwNWU0MTMzN2ExNC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.1kZnv8aYLdOUJf416i4041cbLmIwvtxbmVBOgOIuO30" alt="">
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-6">
            <div class="card my-4">
                <h5 class="card-header display-6 text-center">Give us some comments here.</h5>
                <div class="card-body">
                    @using (Html.BeginForm("Feedback", "About", FormMethod.Post))
                    {
        <form data-aos="fade-up">
            <div class="form-group">
                <textarea class="form-control" name="Feedback" id="Feedback" rows="7" required></textarea>
            </div>
            <button type="submit" class="btn bg-maincolor form-control">Submit</button>
        </form>}
                </div>
            </div>
            <!-- /.container -->
        </div>
        <div class="col-lg-6 text-center">
            <hr>
            <h2 class="display-6 text-center"><strong>Contact For Work</strong></h2>
            <hr>
            <address class="text-center">
                <br />
                <p class="text-center"><strong>Miraii</strong></p>
                <p class="text-center">Bangkok, Thailand</p>
                <p class="text-center"><a href="mailto:#">miraii.teamn@gmail.com</a></p>
                <a href="https://www.instagram.com/"><i class="icofont-instagram icon "></i></a>
                <a href="https://www.facebook.com/"><i class="icofont-facebook icon"></i></a>
                <a href="https://www.linkedin.com/"><i class="icofont-linkedin icon text-center"></i><br /><br /></a>

                <br />
            </address>
            <br />
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0 display-6">For Ads</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0 display-6">For Ads</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
