@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";

}

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .cont-name {
        font-family: 'Sarabun', sans-serif;
        color: #E5AC51;
        font-size: 25px;
        font-weight: bold;
    }

    .cont-detail {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
    }

    .cont-category {
        font-family: 'Bangers', cursive;
        font-size: 35px;
        color: #E5AC51;
    }

    .cont-img {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Index/cover.png" class="img-head">

    <main role="main">
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">

                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Fiction</li>
                            <li data-filter=".filter-card">Review</li>
                            <li data-filter=".filter-web">Life</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="https://steamuserimages-a.akamaihd.net/ugc/868489934988835719/ED9B08B975B07AEC0FC43632305F8AD4F45B4718/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" width="100" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <a href="#">Love Generation </a>
                            <br />
                            <p class="card-text">Review</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="https://i.pinimg.com/originals/22/cf/de/22cfde6c6415e1f061e49e0983059782.gif" width="100%" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">

                            <a href="#">Haruki Murakami</a>
                            <p class="card-text">Life</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="https://66.media.tumblr.com/d21a6d2309d9270b833bebeb1afaec21/tumblr_o0y9vuCxn11rldv4go1_1280.gifv" width="100%" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">

                            <a href="#">#</a>
                            <p class="card-text">Fiction</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="https://i.pinimg.com/originals/6d/78/71/6d78711d7c8438405ee8a5a50114f9ac.gif" width="100%" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">

                            <a href="#">IAMTHE6996 ?!</a>
                            <p class="card-text">Life</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="https://i.pinimg.com/originals/f1/63/11/f16311fd0c32786525f471c685bc516e.gif" width="100%" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">

                            <a href="#">Garden Of Words</a>
                            <p class="card-text">Review</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="https://sketchbook.tsukimori.co/wp-content/uploads/Toyoi-Yuuta-Japan-dailylife-03.gif" width="100%" height="225" class="card-img-top" text="Thumbnail" />
                        <div class="card-body">
                            <a href="#">Priceless</a>
                            <p class="card-text">Review</p>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="Review" asp-action="LoveGeneration">View</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                </div>
                                <small class="text-muted">29/03/2020</small>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn form-control btn-outline-success">See more !</a> <!-- BS3 -->
            </div>
        </section>
    </main>

    <!--Short Story-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> Short Story</p>
        <div class="container">
            <img src="~/image/Read/Blog/Short1.png" class="cont-img" />
            <br />
            <button type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </button>
        </div>

        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 1</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 2</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 3</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 1</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 2</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 3</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <!--Articles-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> Articles</p>
        <div class="container">
            <img src="~/image/Read/Blog/Art1.jpg" class="cont-img" />
            <br />
            <button type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </button>
        </div>

        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 1</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 2</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 3</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <!--Review-->
    <div class="container text-center">
        <hr />
        <p class="cont-category"> Review</p>
        <div class="container">
            <img src="~/image/Read/Blog/Rev1.jpg" class="cont-img" />
            <br />
            <button type="button" class="btn btn-outline-warning btn-lg cont-detail"> read more </button>
        </div>

        <!--4:4pic-->
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 1</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 2</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 3</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short4.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 1</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short2.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 2</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="~/image/Read/Blog/Short3.jpg" class="cont-img" />
                    <h1 class="cont-name">content name 3</h1>
                    <p class="cont-detail">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-warning cont-detail"> read more </button>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <!--banner-->
    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</body>


