<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">


    <!--font awesome-->
    <script src="https://kit.fontawesome.com/8dedd5ecd1.js" crossorigin="anonymous"></script>

    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">


    <style>
        body {
            font-family: 'Sarabun', sans-serif;
        }

        .text-inSreachBox {
            font-family: 'Sarabun', sans-serif;
        }

        .nav-theme {
            background-color: white;
            font-family: 'Noto Sans KR', sans-serif;
            letter-spacing: -2px;
        }

        .text-nav {
            font-size: 35px;
            color: #E5AC51;
            margin-right: 10px;
        }

        .border-top footer {
            background-color: #E5AC51;
        }

        .text-footer {
            color: white;
            font-size: 24px;
            font-family: 'Bangers', cursive;
        }

        .bg-maincolor {
            background-color: #F1AA2A;
        }

        .text-maincolor {
            color: #E5AC51;
        }

        .text-seccolor {
            color: #239B56;
        }

        .modal-backdrop {
            z-index: -1;
        }

        .main-font {
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
        }

        .text-head-dark {
            color: black;
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
            font-size: 2rem;
        }

        .text-head-light {
            color: #E5AC51;
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
            font-size: 2rem;
        }

        .nav-icon {
            margin-top: 8px;
            margin-bottom: 9px;
            font-size: 35px;
        }

        .nav-button {
            margin-top: 9px;
            margin-bottom: 10px;
            padding: 0px;
            font-size: 25px;
            color: white;
        }

        .logo {
            width: 30%;
            padding-right: auto;
            display: block;
            max-width: 200px;
        }

        .nav-tog {
            color: white;
            background-color: #E5AC51;
            margin-left: auto;
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .dropdown > .dropdown-toggle:active {
            pointer-events: none;
        }

        .active2 {
            text-decoration: underline;
            color: #FCDC74;
        }

        .dropdown:hover {
            text-decoration: underline;
            color: #FCDC74;
        }

        .nav-item:hover {
            text-decoration: underline;
            color: #FCDC74;
        }

        .dropdown-item:hover {
            text-decoration: underline;
            color: #FCDC74;
        }

        .modal-open .select2-container--open {
            z-index: 999999 !important;
            width: 100% !important;
        }
    </style>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg nav-theme bg-white fixed-top">
            <div class="container">
                <!--center Navbar's Menu & Logo-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/image/Index/Miraii LOGO.png" class="logo">
                </a>
                <button class="navbar-toggler nav-tog navbar-dark" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--menu-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!--Home-->
                        <li class="nav-item">
                            <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="index">Home</a>
                        </li>
                        <!--Read-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-nav" href="https://localhost:44369/Blog/index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Read
                            </a>
                            <div id="reviewDrop" class="dropdown-menu" aria-labelledby="navbarDropdown" onmouseover="reviewDrop.classList.add('show');">
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Story" asp-action="Index">Story</a>
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Review" asp-action="Index">Review</a>
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Life" asp-action="Index">Life</a>
                            </div>
                        </li>
                        <!--Listen-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-nav" href="https://localhost:44369/Home/index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Listen
                            </a>
                            <div id="reviewDrop" class="dropdown-menu" aria-labelledby="navbarDropdown" onmouseover="reviewDrop.classList.add('show');">
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Podcast" asp-action="Index">podcast</a>
                            </div>
                        </li>
                        <!--About-->
                        <li class="nav-item">
                            <a class="nav-link text-nav active2" asp-area="" asp-controller="About" asp-action="index">About</a>
                        </li>
                        <li class="nav-item nav-icon">
                            <a href="https://www.facebook.com/The-Handyman-110039810651594/"><i class="nav-link icofont-facebook"></i></a>
                        </li>
                        <li class="nav-item mr-3 nav-icon">
                            <a href="https://www.instagram.com/thehandyman.bkk/"><i class="nav-link icofont-instagram"></i></a>
                        </li>
                    </ul>

                    @using (Html.BeginForm("Search", "Content", FormMethod.Get))
                    {
                        <!--button-->
                        <form>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning nav-button " data-toggle="modal" data-target="#exampleModal">
                                <i class="nav-link fas fa-search"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="input-group">

                                                    <input type="text" name="text" class="form-control text-inSreachBox" placeholder="Type something here">
                                                    <div class="input-group-append text-center">
                                                        <button name="submit" class="btn btn-warning" type="submit"><i class="fa fa-search"></i>
                                                    </div>

                                                </div><!--input-group-->
                                            </div>
                                        </div><!--Card-->
                                    </div>
                                </div><!--Modal dialog-->
                            </div><!--Modal-->
                        </form>
                    }
                    </div><!--menu-->
            </div><!--container-->
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <br />
    <br />
    <br />
    <!--Footer-->
    <footer class="border-top footer">
        <div class="container text-footer">
            &copy; 2020 - Miraii
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
