<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiraiiCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">

   
    <!--font awesome-->
    <script src="https://kit.fontawesome.com/8dedd5ecd1.js" crossorigin="anonymous"></script>

    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <style>
        .navbar {
            background-color: white;
            font-family: 'Bangers', cursive;
        }

        .text-nav {
            font-size: 35px;
            color: #E5AC51;
        }

        .border-top footer {
            background-color: #E5AC51;
            color: #87C93A;
        }

        .bg-maincolor {
            background-color: #F1AA2A;
        }

        .text-maincolor {
            color: #35823A;
        }

        .main-font {
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
        }

        .text-head-dark {
            color: black;
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
            font-size: 2rem;
        }

        .nav-icon {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 35px;
        }

        .logo {
            width: 11%;
            padding-left: 15px;
            display: block;
        }
    </style>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar fixed-top">
            <div class="container">
                <!--center Navbar's Menu & Logo-->
                <a class="navbar-brand text-nav" href="https://localhost:44369/Home/index"> <img src="~/image/Index/Miraii LOGO.png" class="logo img-fluid" /> </a>
                <button class="navbar-toggler btn-warning " type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--menu-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                service
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Blog" asp-action="index">blog</a>
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Blog" asp-action="index">review</a>
                                <a class="dropdown-item text-nav" asp-area="" asp-controller="Blog" asp-action="index">podcast</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nav" asp-area="" asp-controller="About" asp-action="index">About</a>
                        </li>
                        <li class="nav-item nav-icon">
                            <a href="https://www.facebook.com/The-Handyman-110039810651594/"><i class="nav-link icofont-facebook"></i></a>
                        </li>
                        <li class="nav-item nav-icon">
                            <a href="https://www.instagram.com/thehandyman.bkk/"><i class="nav-link icofont-instagram"></i></a>
                        </li>
                    </ul>

                    <!--search bar & button--><!--<i class="fas fa-search"></i>-->
                    <form class="form-inline my-2 my-lg-0">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning mx-3" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-search"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div><!--menu-->
            </div><!--container-->
        </nav>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <br />
    <br />
    <br />
    <!--Footer-->
    <footer class="border-top footer">
        <div class="container text-maincolor " style="font-family: 'Bangers', cursive; " >
            &copy; 2020 - Miraii
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
