<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiraiiCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <link href="~/assets/css/style.css" rel="stylesheet">

    <!--Bootstrap CSS CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--font awesome-->
    <script src="https://kit.fontawesome.com/8dedd5ecd1.js" crossorigin="anonymous"></script>

    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <style>
        .navbar {
            background-color: #E5AC51;
            font-family: 'Bangers', cursive;
        }

        .text-nav {
            font-size: 35px;
            color: #35823A;
        }

        .border-top footer {
            background-color: #E5AC51;
            color: #87C93A;
        }

        .bg-maincolor {
            background-color: #F1AA2A;
        }

        .text-maincolor {
            color: #35823A;
        }

        .text-head {
            color: white;
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
        }

        .text-head-dark {
            color: black;
            font-family: 'Bangers', cursive;
            margin-bottom: 0px;
        }

    </style>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar fixed-top">
            <div class="container">
                <!--center Navbar's Menu & Logo-->
                <a class="navbar-brand text-nav" href="https://localhost:44369/Home/index">Miraii</a>
                <button class="navbar-toggler btn-warning " type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--menu-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-nav" asp-area="" asp-controller="Home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nav" asp-area="" asp-controller="Blog" asp-action="index">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nav" asp-area="" asp-controller="About" asp-action="index">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/The-Handyman-110039810651594/"><i class="nav-link icofont-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/thehandyman.bkk/"><i class="nav-link icofont-instagram"></i></a>
                        </li>
                    </ul>

                    <!--search bar & button--><!--<i class="fas fa-search"></i>-->
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-warning m-2 mx-4  my-sm-0" type="submit"><i class="fas fa-search"></i></button> 
                    </form>
                </div><!--menu-->
            </div><!--container-->
        </nav>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <br />
    <br />
    <br />
    <!--Footer-->
    <footer class="border-top footer">
        <div class="container text-maincolor " style="font-family: 'Bangers', cursive; " >
            &copy; 2020 - Miraii
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
