@model MiraiiCore.Models.ContentDataViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContentDataViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContentID" />
            <div class="form-group">
                <label asp-for="ContentLocation" class="control-label"></label>
                <input asp-for="ContentLocation" class="form-control" />
                <span asp-validation-for="ContentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentName" class="control-label"></label>
                <input asp-for="ContentName" class="form-control" />
                <span asp-validation-for="ContentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentCategory" class="control-label"></label>
                <input asp-for="ContentCategory" class="form-control" />
                <span asp-validation-for="ContentCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileType" class="control-label"></label>
                <input asp-for="FileType" class="form-control" />
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentDescription" class="control-label"></label>
                <input asp-for="ContentDescription" class="form-control" />
                <span asp-validation-for="ContentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentDate" class="control-label"></label>
                <input asp-for="ContentDate" class="form-control" />
                <span asp-validation-for="ContentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentWriter" class="control-label"></label>
                <input asp-for="ContentWriter" class="form-control" />
                <span asp-validation-for="ContentWriter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Controller" class="control-label"></label>
                <input asp-for="Controller" class="form-control" />
                <span asp-validation-for="Controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

